openapi: 3.2.0
info:
  title: Authlete Utility Endpoints API
  description: Welcome to the **Authlete API documentation**.
  version: 3.0.16
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- description: 🇺🇸 US Cluster
  url: https://us.authlete.com
- description: 🇯🇵 Japan Cluster
  url: https://jp.authlete.com
- description: 🇪🇺 Europe Cluster
  url: https://eu.authlete.com
- description: 🇧🇷 Brazil Cluster
  url: https://br.authlete.com
security:
- bearer: []
tags:
- name: Utility Endpoints
  description: API endpoints for various utility operations.
  x-tag-expanded: false
paths:
  /api/info:
    get:
      security: []
      summary: Get Server Metadata
      description: get the server version and enabled features
      responses:
        '200':
          description: API information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/info_response'
              example:
                version: 2.3.0
                features:
                - ciba
                - dcr
                - deviceflow
                - fapi
                - openbanking
                - hsm
                - gm
                - tc
                - oidc_federation
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      operationId: info_api
      tags:
      - Utility Endpoints
  /api/misc/echo:
    get:
      summary: Echo
      description: Echo test endpoint. Will return all path parameters in the request
      responses:
        '200':
          description: 'Successfully echoed the request parameters

            '
      operationId: misc_echo_api
      tags:
      - Utility Endpoints
components:
  responses:
    '403':
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/result'
          example:
            resultCode: A001215
            resultMessage: '[A001215] /auth/authorization, The client (ID = 26837717140341) is locked.'
    '500':
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/result'
          example:
            resultCode: A001101
            resultMessage: '[A001101] /auth/authorization, Authlete Server error.'
    '400':
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/result'
          example:
            resultCode: A001201
            resultMessage: '[A001201] /auth/authorization, TLS must be used.'
    '401':
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/result'
          example:
            resultCode: A001202
            resultMessage: '[A001202] /auth/authorization, Authorization header is missing.'
  schemas:
    result:
      type: object
      properties:
        resultCode:
          type: string
          description: The code which represents the result of the API call.
        resultMessage:
          type: string
          description: A short message which explains the result of the API call.
    info_response:
      type: object
      required:
      - version
      - features
      properties:
        version:
          type: string
          description: The server version.
        features:
          type: array
          items:
            type: string
          description: the features that the server supports.
        configuration:
          type: object
          additionalProperties:
            type: string
          description: Server configuration properties as key-value pairs.
        serviceTokenCache:
          type: object
          description: Cache statistics for service tokens.
          properties:
            hitCount:
              type: integer
              format: int64
              description: The number of cache hits.
            missCount:
              type: integer
              format: int64
              description: The number of cache misses.
            loadSuccessCount:
              type: integer
              format: int64
              description: The number of successful loads.
            loadFailureCount:
              type: integer
              format: int64
              description: The number of failed loads.
            totalLoadTime:
              type: integer
              format: int64
              description: The total load time in nanoseconds.
            evictionCount:
              type: integer
              format: int64
              description: The number of evictions.
            evictionWeight:
              type: integer
              format: int64
              description: The weight of evicted entries.
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Authenticate every request with a **Service Access Token** or **Organization Token**.

        Set the token value in the `Authorization: Bearer <token>` header.


        **Service Access Token**: Scoped to a single service. Use when automating service-level configuration or runtime flows.


        **Organization Token**: Scoped to the organization; inherits permissions across services. Use for org-wide automation or when managing multiple services programmatically.


        Both token types are issued by the Authlete console or provisioning APIs.

        '
