openapi: 3.2.0
info:
  title: Authlete Hardware Security Key API
  description: Welcome to the **Authlete API documentation**.
  version: 3.0.16
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- description: 🇺🇸 US Cluster
  url: https://us.authlete.com
- description: 🇯🇵 Japan Cluster
  url: https://jp.authlete.com
- description: 🇪🇺 Europe Cluster
  url: https://eu.authlete.com
- description: 🇧🇷 Brazil Cluster
  url: https://br.authlete.com
security:
- bearer: []
tags:
- name: Hardware Security Key
  description: API endpoints for managing hardware security keys (HSK).
  x-tag-expanded: false
paths:
  /api/{serviceId}/hsk/create:
    post:
      summary: Create Security Key
      x-badges:
      - color: primary-color
        label: 🏢 Dedicated Cloud Required
      parameters:
      - in: path
        name: serviceId
        description: A service ID.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/hsk_create_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/hsk_create_request'
      responses:
        '200':
          description: HSK created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hsk_create_response'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      operationId: hsk_create_api
      tags:
      - Hardware Security Key
  /api/{serviceId}/hsk/delete/{handle}:
    delete:
      summary: Delete Security Key
      x-badges:
      - color: primary-color
        label: 🏢 Dedicated Cloud Required
      parameters:
      - in: path
        name: serviceId
        description: A service ID.
        required: true
        schema:
          type: string
      - in: path
        name: handle
        schema:
          type: string
        required: true
      responses:
        '204':
          description: HSK deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hsk_delete_response'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      operationId: hsk_delete_api
      tags:
      - Hardware Security Key
  /api/{serviceId}/hsk/get/{handle}:
    get:
      summary: Get Security Key
      x-badges:
      - color: primary-color
        label: 🏢 Dedicated Cloud Required
      parameters:
      - in: path
        name: serviceId
        description: A service ID.
        required: true
        schema:
          type: string
      - in: path
        name: handle
        schema:
          type: string
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hsk_get_response'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      operationId: hsk_get_api
      tags:
      - Hardware Security Key
  /api/{serviceId}/hsk/get/list:
    get:
      summary: List Security Keys
      x-badges:
      - color: primary-color
        label: 🏢 Dedicated Cloud Required
      parameters:
      - in: path
        name: serviceId
        description: A service ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: HSK list retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hsk_get_list_response'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      operationId: hsk_get_list_api
      tags:
      - Hardware Security Key
components:
  schemas:
    hsk:
      type: object
      description: 'Holds information about a key managed in an HSM (Hardware Security Module)

        '
      properties:
        kty:
          type: string
          description: 'The key type (EC or RSA)

            '
        use:
          type: string
          description: 'Get the use of the key on the HSM.

            When the key use is "sig" (signature), the private key on the HSM is used to sign data and the corresponding public key is used to verify the signature.

            When the key use is "enc" (encryption), the private key on the HSM is used to decrypt encrypted data which have been encrypted with the corresponding public key

            '
        kid:
          type: string
          description: 'Key ID for the key on the HSM.

            '
        hsmName:
          type: string
          description: 'The name of the HSM.

            The identifier for the HSM that sits behind the Authlete server. For example, "google".

            '
        handle:
          type: string
          description: 'The handle for the key on the HSM.

            A handle is a base64url-encoded 256-bit random value (43 letters) which is assigned by Authlete on the call of the /api/hsk/create API

            '
        publicKey:
          type: string
          description: 'The public key that corresponds to the key on the HSM.

            '
        alg:
          type: string
          description: 'The algorithm of the key on the HSM. When the key use is `"sig"`, the algorithm represents a

            signing algorithm such as `"ES256"`. When the key use is `"enc"`, the algorithm represents an

            encryption algorithm such as `"RSA-OAEP-256"`.

            '
    hsk_get_response:
      type: object
      properties:
        resultCode:
          type: string
          description: The code which represents the result of the API call.
        resultMessage:
          type: string
          description: A short message which explains the result of the API call.
        action:
          type: string
          enum:
          - SUCCESS
          - INVALID_REQUEST
          - NOT_FOUND
          - SERVER_ERROR
          description: Result of the API call
        hsk:
          $ref: '#/components/schemas/hsk'
    hsk_create_request:
      type: object
      properties:
        kty:
          type: string
          description: 'The key type (EC or RSA)

            '
        use:
          type: string
          description: 'The key on the HSM.

            When the key use is "sig" (signature), the private key on the HSM is used to sign data and the corresponding public key is used to verify the signature.

            When the key use is "enc" (encryption), the private key on the HSM is used to decrypt encrypted data which have been encrypted with the corresponding public key

            '
        kid:
          type: string
          description: 'Key ID for the key on the HSM.

            '
        hsmName:
          type: string
          description: 'The name of the HSM.

            The identifier for the HSM that sits behind the Authlete server. For example, "google".

            '
        alg:
          type: string
          description: 'The algorithm of the key on the HSM. When the key use is `"sig"`, the algorithm represents a signing

            algorithm such as `"ES256"`. When the key use is `"enc"`, the algorithm represents an encryption

            algorithm such as `"RSA-OAEP-256"`.


            It is rare that HSMs support all the algorithms listed in [RFC 7518 JSON Web Algorithms (JWA)](https://www.rfc-editor.org/rfc/rfc7518.html).

            When the specified algorithm is not supported by the HSM, the request to the `/hsk/create` API

            fails.

            '
    hsk_create_response:
      type: object
      properties:
        resultCode:
          type: string
          description: The code which represents the result of the API call.
        resultMessage:
          type: string
          description: A short message which explains the result of the API call.
        action:
          type: string
          enum:
          - SUCCESS
          - INVALID_REQUEST
          - NOT_FOUND
          - SERVER_ERROR
          description: Result of the API call.
        hsk:
          $ref: '#/components/schemas/hsk'
    result:
      type: object
      properties:
        resultCode:
          type: string
          description: The code which represents the result of the API call.
        resultMessage:
          type: string
          description: A short message which explains the result of the API call.
    hsk_get_list_response:
      type: object
      properties:
        resultCode:
          type: string
          description: The code which represents the result of the API call.
        resultMessage:
          type: string
          description: A short message which explains the result of the API call.
        action:
          type: string
          enum:
          - SUCCESS
          - INVALID_REQUEST
          - SERVER_ERROR
          description: Result of the API call
        hsks:
          type: array
          items:
            $ref: '#/components/schemas/hsk'
          description: List of HSK
    hsk_delete_response:
      type: object
      properties:
        resultCode:
          type: string
          description: The code which represents the result of the API call.
        resultMessage:
          type: string
          description: A short message which explains the result of the API call.
        action:
          type: string
          enum:
          - SUCCESS
          - INVALID_REQUEST
          - NOT_FOUND
          - SERVER_ERROR
          description: Result of the API call
        hsk:
          $ref: '#/components/schemas/hsk'
  responses:
    '500':
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/result'
          example:
            resultCode: A001101
            resultMessage: '[A001101] /auth/authorization, Authlete Server error.'
    '403':
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/result'
          example:
            resultCode: A001215
            resultMessage: '[A001215] /auth/authorization, The client (ID = 26837717140341) is locked.'
    '400':
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/result'
          example:
            resultCode: A001201
            resultMessage: '[A001201] /auth/authorization, TLS must be used.'
    '401':
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/result'
          example:
            resultCode: A001202
            resultMessage: '[A001202] /auth/authorization, Authorization header is missing.'
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Authenticate every request with a **Service Access Token** or **Organization Token**.

        Set the token value in the `Authorization: Bearer <token>` header.


        **Service Access Token**: Scoped to a single service. Use when automating service-level configuration or runtime flows.


        **Organization Token**: Scoped to the organization; inherits permissions across services. Use for org-wide automation or when managing multiple services programmatically.


        Both token types are issued by the Authlete console or provisioning APIs.

        '
