openapi: 3.0.3
info:
  title: Authlete Authorization Endpoint Service Management API
  description: "Welcome to the **Authlete API documentation**. Authlete is an **API-first service** where every aspect of the \nplatform is configurable via API. This documentation will help you authenticate and integrate with Authlete to \nbuild powerful OAuth 2.0 and OpenID Connect servers.\n\nAt a high level, the Authlete API is grouped into two categories:\n\n- **Management APIs**: Enable you to manage services and clients.\n- **Runtime APIs**: Allow you to build your own Authorization Servers or Verifiable Credential (VC) issuers.\n\n## \U0001F310 API Servers\n\nAuthlete is a global service with clusters available in multiple regions across the world:\n\n- \U0001F1FA\U0001F1F8 **US**: `https://us.authlete.com`\n- \U0001F1EF\U0001F1F5 **Japan**: `https://jp.authlete.com`\n- \U0001F1EA\U0001F1FA **Europe**: `https://eu.authlete.com`\n- \U0001F1E7\U0001F1F7 **Brazil**: `https://br.authlete.com`\n\nOur customers can host their data in the region that best meets their requirements.\n\n## \U0001F511 Authentication\n\nAll API endpoints are secured using **Bearer token authentication**. You must include an access token in every request:\n\n```\nAuthorization: Bearer YOUR_ACCESS_TOKEN\n```\n\n### Getting Your Access Token\n\nAuthlete supports two types of access tokens:\n\n**Service Access Token** - Scoped to a single service (authorization server instance)\n\n1. Log in to [Authlete Console](https://console.authlete.com)\n2. Navigate to your service → **Settings** → **Access Tokens**\n3. Click **Create Token** and select permissions (e.g., `service.read`, `client.write`)\n4. Copy the generated token\n\n**Organization Token** - Scoped to your entire organization\n\n1. Log in to [Authlete Console](https://console.authlete.com)\n2. Navigate to **Organization Settings** → **Access Tokens**\n3. Click **Create Token** and select org-level permissions\n4. Copy the generated token\n\n> ⚠️ **Important Note**: Tokens inherit the permissions of the account that creates them. Service tokens can only \n> access their specific service, while organization tokens can access all services within your org.\n\n### Token Security Best Practices\n\n- **Never commit tokens to version control** - Store in environment variables or secure secret managers\n- **Rotate regularly** - Generate new tokens periodically and revoke old ones\n- **Scope appropriately** - Request only the permissions your application needs\n- **Revoke unused tokens** - Delete tokens you're no longer using from the console\n\n### Quick Test\n\nVerify your token works with a simple API call:\n\n```bash\ncurl -X GET https://us.authlete.com/api/service/get/list \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\"\n```\n\n## \U0001F393 Tutorials\n\nIf you're new to Authlete or want to see sample implementations, these resources will help you get started:\n\n- [Getting Started with Authlete](https://www.authlete.com/developers/getting_started/)\n- [From Sign-Up to the First API Request](https://www.authlete.com/developers/tutorial/signup/)\n\n## \U0001F6E0 Contact Us\n\nIf you have any questions or need assistance, our team is here to help:\n\n- [Contact Page](https://www.authlete.com/contact/)\n"
  version: 3.0.16
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- description: 🇺🇸 US Cluster
  url: https://us.authlete.com
- description: 🇯🇵 Japan Cluster
  url: https://jp.authlete.com
- description: 🇪🇺 Europe Cluster
  url: https://eu.authlete.com
- description: 🇧🇷 Brazil Cluster
  url: https://br.authlete.com
security:
- bearer: []
tags:
- name: Service Management
  description: API endpoints for managing services, including creation, update, and deletion of services.
  x-tag-expanded: false
paths:
  /api/{serviceId}/service/get:
    get:
      summary: Get Service
      description: 'Get a service.


        If the access token can only view or modify clients underneath this service, but does not

        have access to view this service directly, a limited view of the service will be returned.

        '
      parameters:
      - in: path
        name: serviceId
        description: A service ID.
        schema:
          type: string
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service'
              examples:
                full:
                  summary: Example showing the full service object.
                  value:
                    accessTokenDuration: 3600
                    accessTokenType: Bearer
                    allowableClockSkew: 0
                    apiKey: 21653835348762
                    attributes:
                    - key: attribute1-key
                      value: attribute1-value
                    - key: attribute2-key
                      value: attribute2-value
                    authorizationEndpoint: https://my-service.example.com/authz
                    authorizationResponseDuration: 0
                    authorizationCodeDuration: 0
                    backchannelAuthReqIdDuration: 0
                    backchannelBindingMessageRequiredInFapi: false
                    backchannelPollingInterval: 0
                    backchannelUserCodeParameterSupported: false
                    claimShortcutRestrictive: false
                    clientIdAliasEnabled: true
                    clientsPerDeveloper: 0
                    createdAt: 1639373421000
                    dcrScopeUsedAsRequestable: false
                    deviceFlowCodeDuration: 0
                    deviceFlowPollingInterval: 0
                    directAuthorizationEndpointEnabled: false
                    directIntrospectionEndpointEnabled: false
                    directJwksEndpointEnabled: false
                    directRevocationEndpointEnabled: false
                    directTokenEndpointEnabled: false
                    directUserInfoEndpointEnabled: false
                    dynamicRegistrationSupported: false
                    errorDescriptionOmitted: false
                    errorUriOmitted: false
                    frontChannelRequestObjectEncryptionRequired: false
                    grantManagementActionRequired: false
                    hsmEnabled: false
                    idTokenDuration: 0
                    introspectionEndpoint: https://my-service.example.com/introspection
                    issSuppressed: false
                    issuer: https://my-service.example.com
                    metadata:
                    - key: clientCount
                      value: '1'
                    missingClientIdAllowed: false
                    modifiedAt: 1639373421000
                    mutualTlsValidatePkiCertChain: false
                    nbfOptional: false
                    number: 5041
                    parRequired: false
                    pkceRequired: true
                    pkceS256Required: false
                    pushedAuthReqDuration: 0
                    refreshTokenDuration: 3600
                    refreshTokenDurationKept: false
                    refreshTokenDurationReset: false
                    refreshTokenKept: false
                    requestObjectEncryptionAlgMatchRequired: false
                    requestObjectEncryptionEncMatchRequired: false
                    requestObjectRequired: false
                    revocationEndpoint: https://my-service.example.com/revocation
                    scopeRequired: false
                    serviceName: My service
                    serviceOwnerNumber: 2
                    singleAccessTokenPerSubject: false
                    supportedClaimTypes:
                    - NORMAL
                    supportedDisplays:
                    - PAGE
                    supportedGrantTypes:
                    - AUTHORIZATION_CODE
                    - REFRESH_TOKEN
                    supportedIntrospectionAuthMethods:
                    - CLIENT_SECRET_BASIC
                    supportedResponseTypes:
                    - CODE
                    supportedRevocationAuthMethods:
                    - CLIENT_SECRET_BASIC
                    supportedScopes:
                    - defaultEntry: false
                      description: A permission to read your history.
                      name: history.read
                    - defaultEntry: false
                      description: A permission to read your timeline.
                      name: timeline.read
                    supportedTokenAuthMethods:
                    - CLIENT_SECRET_BASIC
                    tlsClientCertificateBoundAccessTokens: false
                    tokenEndpoint: https://my-service.example.com/token
                    tokenExpirationLinked: false
                    traditionalRequestObjectProcessingApplied: false
                    unauthorizedOnClientConfigSupported: false
                    userCodeLength: 0
                limited:
                  summary: Example showing the limited service object.
                  value:
                    apiKey: 21653835348762
                    description: This Service.
                    number: 5041
                    serviceName: My service
          links:
            service_get_list:
              $ref: '#/components/links/service_get_list'
            service_update:
              $ref: '#/components/links/service_update'
            service_delete:
              $ref: '#/components/links/service_delete'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      operationId: service_get_api
      x-code-samples:
      - lang: shell
        label: curl
        source: 'curl -v https://us.authlete.com/api/21653835348762/service/get \

          -H ''Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F''

          '
      - lang: java
        label: java
        source: 'AuthleteConfiguration conf = ...;

          AuthleteApi api = AuthleteApiFactory.create(conf);


          long serviceId = ...;


          api.getService(serviceId);

          '
      - lang: python
        source: 'conf = ...

          api = AuthleteApiImpl(conf)


          serviceId = ...


          api.getService(serviceId)

          '
      tags:
      - Service Management
  /api/service/get/list:
    get:
      summary: List Services
      description: 'Get a list of services.


        If the access token can only view or modify clients underneath a service, but does not

        have access to view that service directly, a limited view of the service will be returned.

        Otherwise, all properties of the service are returned.


        If the access token is an administrative token, this returns a list of all services on the Authlete instance.

        Otherwise, all services that the access token can view, even in a limited fashion, are returned.

        '
      parameters:
      - in: query
        name: start
        schema:
          type: integer
          format: int32
        required: false
        description: Start index (inclusive) of the result set. The default value is 0. Must not be a negative number.
      - in: query
        name: end
        schema:
          type: integer
          format: int32
        required: false
        description: End index (exclusive) of the result set. The default value is 5. Must not be a negative number.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_get_list_response'
              examples:
                full:
                  summary: Example showing the full service view.
                  value:
                    start: 0
                    end: 5
                    totalCount: 1
                    services:
                    - accessTokenDuration: 3600
                      accessTokenType: Bearer
                      allowableClockSkew: 0
                      apiKey: 21653835348762
                      apiSecret: uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls
                      attributes:
                      - key: attribute1-key
                        value: attribute1-value
                      - key: attribute2-key
                        value: attribute2-value
                      authorizationEndpoint: https://as.example.com/authz
                      authorizationResponseDuration: 0
                      authorizationCodeDuration: 0
                      backchannelAuthReqIdDuration: 0
                      backchannelBindingMessageRequiredInFapi: false
                      backchannelPollingInterval: 0
                      backchannelUserCodeParameterSupported: false
                      claimShortcutRestrictive: false
                      clientIdAliasEnabled: true
                      createdAt: 1639373421000
                      dcrScopeUsedAsRequestable: false
                      deviceFlowCodeDuration: 0
                      deviceFlowPollingInterval: 0
                      directAuthorizationEndpointEnabled: false
                      directIntrospectionEndpointEnabled: false
                      directJwksEndpointEnabled: false
                      directRevocationEndpointEnabled: false
                      directTokenEndpointEnabled: false
                      directUserInfoEndpointEnabled: false
                      dynamicRegistrationSupported: false
                      errorDescriptionOmitted: false
                      errorUriOmitted: false
                      frontChannelRequestObjectEncryptionRequired: false
                      grantManagementActionRequired: false
                      hsmEnabled: false
                      idTokenDuration: 0
                      introspectionEndpoint: https://my-service.example.com/introspection
                      issSuppressed: false
                      issuer: https://my-service.example.com
                      metadata:
                      - key: clientCount
                        value: '1'
                      missingClientIdAllowed: false
                      modifiedAt: 1639373421000
                      mutualTlsValidatePkiCertChain: false
                      nbfOptional: false
                      number: 5041
                      parRequired: false
                      pkceRequired: true
                      pkceS256Required: false
                      pushedAuthReqDuration: 0
                      refreshTokenDuration: 3600
                      refreshTokenDurationKept: false
                      refreshTokenDurationReset: false
                      refreshTokenKept: false
                      requestObjectEncryptionAlgMatchRequired: false
                      requestObjectEncryptionEncMatchRequired: false
                      requestObjectRequired: false
                      revocationEndpoint: https://my-service.example.com/revocation
                      scopeRequired: false
                      serviceName: My service
                      serviceOwnerNumber: 2
                      singleAccessTokenPerSubject: false
                      supportedClaimTypes:
                      - NORMAL
                      supportedDisplays:
                      - PAGE
                      supportedGrantTypes:
                      - AUTHORIZATION_CODE
                      - REFRESH_TOKEN
                      supportedIntrospectionAuthMethods:
                      - CLIENT_SECRET_BASIC
                      supportedResponseTypes:
                      - CODE
                      supportedRevocationAuthMethods:
                      - CLIENT_SECRET_BASIC
                      supportedScopes:
                      - defaultEntry: false
                        description: A permission to read your history.
                        name: history.read
                      - defaultEntry: false
                        description: A permission to read your timeline.
                        name: timeline.read
                      supportedTokenAuthMethods:
                      - CLIENT_SECRET_BASIC
                      tlsClientCertificateBoundAccessTokens: false
                      tokenEndpoint: https://my-service.example.com/token
                      tokenExpirationLinked: false
                      traditionalRequestObjectProcessingApplied: false
                      unauthorizedOnClientConfigSupported: false
                      userCodeLength: 0
                limited:
                  summary: Example showing the limited service view.
                  value:
                    start: 0
                    end: 5
                    totalCount: 1
                    services:
                    - apiKey: 21653835348762
                      clientIdAliasEnabled: true
                      number: 5041
                      serviceName: My service
          links:
            service_create:
              $ref: '#/components/links/service_create'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      operationId: service_get_list_api
      x-code-samples:
      - lang: shell
        label: curl
        source: 'curl -v https://us.authlete.com/api/9503564192/service/get/list?start=0\&end=5 \

          -H ''Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F''

          '
      - lang: java
        label: java
        source: 'AuthleteConfiguration conf = ...;

          AuthleteApi api = AuthleteApiFactory.create(conf);


          int start = 0;

          int end = 5;


          api.getServiceList(start, end);

          '
      - lang: python
        source: 'conf = ...

          api = AuthleteApiImpl(conf)


          start = 0

          end = 5


          api.getServiceList(start, end)

          '
      tags:
      - Service Management
  /api/service/create:
    post:
      summary: Create Service
      description: 'Create a new service.

        '
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service'
            example:
              serviceName: My service
              issuer: https://my-service.example.com
              clientIdAliasEnabled: true
              supportedGrantTypes:
              - AUTHORIZATION_CODE
              - REFRESH_TOKEN
              supportedResponseTypes:
              - CODE
              authorizationEndpoint: https://my-service.example.com/authz
              pkceRequired: true
              tokenEndpoint: https://my-service.example.com/token
              supportedTokenAuthMethods:
              - CLIENT_SECRET_BASIC
              revocationEndpoint: https://my-service.example.com/revocation
              supportedRevocationAuthMethods:
              - CLIENT_SECRET_BASIC
              introspectionEndpoint: https://my-service.example.com/introspection
              supportedIntrospectionAuthMethods:
              - CLIENT_SECRET_BASIC
              accessTokenType: Bearer
              accessTokenDuration: 3600
              refreshTokenDuration: 3600
              supportedScopes:
              - name: timeline.read
                defaultEntry: false
                description: A permission to read your timeline.
              - name: history.read
                defaultEntry: false
                description: A permission to read your history.
              attributes:
              - key: attribute1-key
                value: attribute1-value
              - key: attribute2-key
                value: attribute2-value
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/service'
      responses:
        '200':
          description: Service created successfully (legacy compatibility)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service'
              example:
                accessTokenDuration: 3600
        '201':
          description: Service created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service'
              example:
                accessTokenDuration: 3600
                accessTokenType: Bearer
                allowableClockSkew: 0
                apiKey: 21653835348762
                apiSecret: uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls
                attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
                authorizationEndpoint: https://my-service.example.com/authz
                authorizationResponseDuration: 0
                authorizationCodeDuration: 0
                backchannelAuthReqIdDuration: 0
                backchannelBindingMessageRequiredInFapi: false
                backchannelPollingInterval: 0
                backchannelUserCodeParameterSupported: false
                claimShortcutRestrictive: false
                clientIdAliasEnabled: true
                clientsPerDeveloper: 0
                createdAt: 1639373421000
                dcrScopeUsedAsRequestable: false
                deviceFlowCodeDuration: 0
                deviceFlowPollingInterval: 0
                directAuthorizationEndpointEnabled: false
                directIntrospectionEndpointEnabled: false
                directJwksEndpointEnabled: false
                directRevocationEndpointEnabled: false
                directTokenEndpointEnabled: false
                directUserInfoEndpointEnabled: false
                dynamicRegistrationSupported: false
                errorDescriptionOmitted: false
                errorUriOmitted: false
                frontChannelRequestObjectEncryptionRequired: false
                grantManagementActionRequired: false
                hsmEnabled: false
                idTokenDuration: 0
                introspectionEndpoint: https://my-service.example.com/introspection
                issSuppressed: false
                issuer: https://my-service.example.com
                metadata:
                - key: clientCount
                  value: '0'
                missingClientIdAllowed: false
                modifiedAt: 1639373421000
                mutualTlsValidatePkiCertChain: false
                nbfOptional: false
                number: 5041
                parRequired: false
                pkceRequired: true
                pkceS256Required: false
                pushedAuthReqDuration: 0
                refreshTokenDuration: 3600
                refreshTokenDurationKept: false
                refreshTokenDurationReset: false
                refreshTokenKept: false
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                revocationEndpoint: https://my-service.example.com/revocation
                scopeRequired: false
                serviceName: My service
                serviceOwnerNumber: 2
                singleAccessTokenPerSubject: false
                supportedClaimTypes:
                - NORMAL
                supportedDisplays:
                - PAGE
                supportedGrantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
                supportedIntrospectionAuthMethods:
                - CLIENT_SECRET_BASIC
                supportedResponseTypes:
                - CODE
                supportedRevocationAuthMethods:
                - CLIENT_SECRET_BASIC
                supportedScopes:
                - defaultEntry: false
                  description: A permission to read your history.
                  name: history.read
                - defaultEntry: false
                  description: A permission to read your timeline.
                  name: timeline.read
                supportedTokenAuthMethods:
                - CLIENT_SECRET_BASIC
                tlsClientCertificateBoundAccessTokens: false
                tokenEndpoint: https://my-service.example.com/token
                tokenExpirationLinked: false
                traditionalRequestObjectProcessingApplied: false
                unauthorizedOnClientConfigSupported: false
                userCodeLength: 0
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      operationId: service_create_api
      x-code-samples:
      - lang: shell
        label: curl
        source: 'curl -v -X POST https://us.authlete.com/api/service/create \

          -H ''Content-Type:application/json'' \

          -H ''Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'' \

          -d ''{ "serviceName": "My Service", ... }''

          '
      - lang: java
        label: java
        source: 'AuthleteConfiguration conf = ...;

          AuthleteApi api = AuthleteApiFactory.create(conf);


          Service service = new Service();

          service.setServiceName("My Service");

          ...


          api.createService(service);

          '
      - lang: python
        source: 'conf = ...

          api = AuthleteApiImpl(conf)


          service = Service()

          service.serviceName = ''My Service''

          ...


          api.createService(service)

          '
      tags:
      - Service Management
  /api/{serviceId}/service/update:
    post:
      summary: Update Service
      description: 'Update a service.

        '
      parameters:
      - in: path
        name: serviceId
        description: A service ID.
        schema:
          type: string
        required: true
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service'
            example:
              accessTokenDuration: 3600
              accessTokenType: Bearer
              allowableClockSkew: 0
              attributes:
              - key: attribute1-key
                value: attribute1-value
              - key: attribute2-key
                value: attribute2-value
              authorizationEndpoint: https://my-service.example.com/authz
              authorizationResponseDuration: 0
              authorizationCodeDuration: 0
              backchannelAuthReqIdDuration: 0
              backchannelBindingMessageRequiredInFapi: false
              backchannelPollingInterval: 0
              backchannelUserCodeParameterSupported: false
              claimShortcutRestrictive: false
              clientIdAliasEnabled: true
              clientsPerDeveloper: 0
              dcrScopeUsedAsRequestable: false
              deviceFlowCodeDuration: 0
              deviceFlowPollingInterval: 0
              directAuthorizationEndpointEnabled: false
              directIntrospectionEndpointEnabled: false
              directJwksEndpointEnabled: false
              directRevocationEndpointEnabled: false
              directTokenEndpointEnabled: false
              directUserInfoEndpointEnabled: false
              dynamicRegistrationSupported: false
              errorDescriptionOmitted: false
              errorUriOmitted: false
              frontChannelRequestObjectEncryptionRequired: false
              grantManagementActionRequired: false
              hsmEnabled: false
              idTokenDuration: 0
              introspectionEndpoint: https://my-service.example.com/introspection
              issSuppressed: false
              issuer: https://my-service.example.com
              missingClientIdAllowed: false
              mutualTlsValidatePkiCertChain: false
              nbfOptional: false
              parRequired: false
              pkceRequired: true
              pkceS256Required: false
              pushedAuthReqDuration: 0
              refreshTokenDuration: 3600
              refreshTokenDurationKept: false
              refreshTokenDurationReset: false
              refreshTokenKept: false
              requestObjectEncryptionAlgMatchRequired: false
              requestObjectEncryptionEncMatchRequired: false
              requestObjectRequired: false
              revocationEndpoint: https://my-service.example.com/revocation
              scopeRequired: false
              serviceName: My updated service
              singleAccessTokenPerSubject: false
              supportedClaimTypes:
              - NORMAL
              supportedDisplays:
              - PAGE
              supportedGrantTypes:
              - AUTHORIZATION_CODE
              - REFRESH_TOKEN
              supportedIntrospectionAuthMethods:
              - CLIENT_SECRET_BASIC
              supportedResponseTypes:
              - CODE
              supportedRevocationAuthMethods:
              - CLIENT_SECRET_BASIC
              supportedScopes:
              - defaultEntry: false
                description: A permission to read your history.
                name: history.read
              - defaultEntry: false
                description: A permission to read your timeline.
                name: timeline.read
              supportedTokenAuthMethods:
              - CLIENT_SECRET_BASIC
              tlsClientCertificateBoundAccessTokens: false
              tokenEndpoint: https://my-service.example.com/token
              tokenExpirationLinked: false
              traditionalRequestObjectProcessingApplied: false
              unauthorizedOnClientConfigSupported: false
              userCodeLength: 0
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/service'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service'
              example:
                accessTokenDuration: 3600
                accessTokenType: Bearer
                allowableClockSkew: 0
                apiKey: 21653835348762
                apiSecret: uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls
                attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
                authorizationEndpoint: https://my-service.example.com/authz
                authorizationResponseDuration: 0
                authorizationCodeDuration: 0
                backchannelAuthReqIdDuration: 0
                backchannelBindingMessageRequiredInFapi: false
                backchannelPollingInterval: 0
                backchannelUserCodeParameterSupported: false
                claimShortcutRestrictive: false
                clientIdAliasEnabled: true
                clientsPerDeveloper: 0
                createdAt: 1639373421000
                dcrScopeUsedAsRequestable: false
                deviceFlowCodeDuration: 0
                deviceFlowPollingInterval: 0
                directAuthorizationEndpointEnabled: false
                directIntrospectionEndpointEnabled: false
                directJwksEndpointEnabled: false
                directRevocationEndpointEnabled: false
                directTokenEndpointEnabled: false
                directUserInfoEndpointEnabled: false
                dynamicRegistrationSupported: false
                errorDescriptionOmitted: false
                errorUriOmitted: false
                frontChannelRequestObjectEncryptionRequired: false
                grantManagementActionRequired: false
                hsmEnabled: false
                idTokenDuration: 0
                introspectionEndpoint: https://my-service.example.com/introspection
                issSuppressed: false
                issuer: https://my-service.example.com
                metadata:
                - key: clientCount
                  value: '1'
                missingClientIdAllowed: false
                modifiedAt: 1639373420725
                mutualTlsValidatePkiCertChain: false
                nbfOptional: false
                number: 5041
                parRequired: false
                pkceRequired: true
                pkceS256Required: false
                pushedAuthReqDuration: 0
                refreshTokenDuration: 3600
                refreshTokenDurationKept: false
                refreshTokenDurationReset: false
                refreshTokenKept: false
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                revocationEndpoint: https://my-service.example.com/revocation
                scopeRequired: false
                serviceName: My updated service
                serviceOwnerNumber: 2
                singleAccessTokenPerSubject: false
                supportedClaimTypes:
                - NORMAL
                supportedDisplays:
                - PAGE
                supportedGrantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
                supportedIntrospectionAuthMethods:
                - CLIENT_SECRET_BASIC
                supportedResponseTypes:
                - CODE
                supportedRevocationAuthMethods:
                - CLIENT_SECRET_BASIC
                supportedScopes:
                - defaultEntry: false
                  description: A permission to read your history.
                  name: history.read
                - defaultEntry: false
                  description: A permission to read your timeline.
                  name: timeline.read
                supportedTokenAuthMethods:
                - CLIENT_SECRET_BASIC
                tlsClientCertificateBoundAccessTokens: false
                tokenEndpoint: https://my-service.example.com/token
                tokenExpirationLinked: false
                traditionalRequestObjectProcessingApplied: false
                unauthorizedOnClientConfigSupported: false
                userCodeLength: 0
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      operationId: service_update_api
      x-code-samples:
      - lang: shell
        label: curl
        source: 'curl -v -X POST https://us.authlete.com/api/21653835348762/service/update \

          -H ''Content-Type:application/json'' \

          -H ''Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'' \

          -d ''{ "serviceName": "My updated service", ... }''

          '
      - lang: java
        label: java
        source: 'AuthleteConfiguration conf = ...;

          AuthleteApi api = AuthleteApiFactory.create(conf);


          // Get an existing service.

          long serviceId = ...;

          Service service = api.getService(serviceId);


          // Update "service name".

          service.setAServiceName("My updated service");


          api.updateService(service);

          '
      - lang: python
        source: 'conf = ...

          api = AuthleteApiImpl(conf)


          # Get an existing service.

          serviceId = ...

          service = api.getService(serviceId)


          # Update "service name".

          service.serviceName = ''My updated service''


          api.updateService(service)

          '
      tags:
      - Service Management
  /api/{serviceId}/service/delete:
    delete:
      summary: Delete Service ⚡
      description: 'Delete a service.

        '
      parameters:
      - in: path
        name: serviceId
        description: A service ID.
        schema:
          type: string
        required: true
      responses:
        '204':
          description: The service was successfully deleted.
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      operationId: service_delete_api
      x-code-samples:
      - lang: shell
        label: curl
        source: 'curl -v -X DELETE https://us.authlete.com/api/9503564192/service/delete/21653835348762 \

          -H ''Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F''

          '
      - lang: java
        label: java
        source: 'AuthleteConfiguration conf = ...;

          AuthleteApi api = AuthleteApiFactory.create(conf);


          long serviceId = ...;


          api.deleteService(serviceId);

          '
      - lang: python
        source: 'conf = ...

          api = AuthleteApiImpl(conf)


          serviceId = ...


          api.deleteService(serviceId)

          '
      tags:
      - Service Management
  /api/{serviceId}/service/configuration:
    get:
      summary: Get Service Configuration
      description: 'This API gathers configuration information about a service.


        This API is supposed to be called from within the implementation of the configuration endpoint of

        the service where the service that supports OpenID Connect and [OpenID Connect Discovery 1.0](https://openid.net/specs/openid-connect-discovery-1_0.html)

        must expose its configuration information in a JSON format. Details about the format are described

        in "[3. OpenID Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata)"

        in OpenID Connect Discovery 1.0.

        '
      parameters:
      - in: path
        name: serviceId
        description: A service ID.
        required: true
        schema:
          type: string
      - in: query
        name: pretty
        schema:
          type: boolean
        required: false
        description: This boolean value indicates whether the JSON in the response should be formatted or not. If `true`, the JSON in the response is pretty-formatted. The default value is `false`.
      - in: query
        name: patch
        schema:
          type: string
        required: false
        description: Get the JSON Patch [RFC 6902 JavaScript Object Notation (JSON) Patch](https://www.rfc-editor.org/rfc/rfc6902) to be applied.
      responses:
        '200':
          description: Service configuration retrieved successfully
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: 'An object representing OpenID Provider configuration information. See [OpenID Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata) and [OpenID Provider Configuration Response](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConfigurationResponse) for more details.

                  '
              example:
                issuer: https://my-service.example.com
                authorization_endpoint: https://my-service.example.com/authz
                token_endpoint: https://my-service.example.com/token
                scopes_supported:
                - history.read
                - timeline.read
                response_types_supported:
                - code
                response_modes_supported:
                - query
                - fragment
                - form_post
                - query.jwt
                - fragment.jwt
                - form_post.jwt
                - jwt
                grant_types_supported:
                - authorization_code
                - password
                - refresh_token
                subject_types_supported:
                - public
                - pairwise
                id_token_signing_alg_values_supported:
                - HS256
                - HS384
                - HS512
                - RS256
                - RS384
                - RS512
                - PS256
                - PS384
                - PS512
                - ES256
                - ES384
                - ES512
                - ES256K
                - EdDSA
                id_token_encryption_alg_values_supported:
                - RSA1_5
                - RSA-OAEP
                - RSA-OEAP-256
                - ECDH-ES
                - ECDH-ES+A128KW
                - ECDH-ES+A192KW
                - ECDH-ES+A256KW
                - A128KW
                - A192KW
                - A256KW
                - dir
                - A128GCMKW
                - A192GCMKW
                - A256GCMKW
                - PBES2-HS256+A128KW
                - PBES2-HS384+A192KW
                - PBES2-HS512+A256KW
                id_token_encryption_enc_values_supported:
                - A128CBC-HS256
                - A192CBC-HS384
                - A256CBC-HS512
                - A128GCM
                - A192GCM
                - A256GCM
                userinfo_signing_alg_values_supported:
                - HS256
                - HS384
                - HS512
                - RS256
                - RS384
                - RS512
                - PS256
                - PS384
                - PS512
                - ES256
                - ES384
                - ES512
                - ES256K
                - EdDSA
                - none
                userinfo_encryption_alg_values_supported:
                - RSA1_5
                - RSA-OAEP
                - RSA-OEAP-256
                - ECDH-ES
                - ECDH-ES+A128KW
                - ECDH-ES+A192KW
                - ECDH-ES+A256KW
                - A128KW
                - A192KW
                - A256KW
                - dir
                - A128GCMKW
                - A192GCMKW
                - A256GCMKW
                - PBES2-HS256+A128KW
                - PBES2-HS384+A192KW
                - PBES2-HS512+A256KW
                userinfo_encryption_enc_values_supported:
                - A128CBC-HS256
                - A192CBC-HS384
                - A256CBC-HS512
                - A128GCM
                - A192GCM
                - A256GCM
                request_object_signing_alg_values_supported:
                - HS256
                - HS384
                - HS512
                - RS256
                - RS384
                - RS512
                - PS256
                - PS384
                - PS512
                - ES256
                - ES384
                - ES512
                - ES256K
                - EdDSA
                request_object_encryption_alg_values_supported:
                - RSA1_5
                - RSA-OAEP
                - RSA-OEAP-256
                - ECDH-ES
                - ECDH-ES+A128KW
                - ECDH-ES+A192KW
                - ECDH-ES+A256KW
                - A128KW
                - A192KW
                - A256KW
                - dir
                - A128GCMKW
                - A192GCMKW
                - A256GCMKW
                - PBES2-HS256+A128KW
                - PBES2-HS384+A192KW
                - PBES2-HS512+A256KW
                request_object_encryption_enc_values_supported:
                - A128CBC-HS256
                - A192CBC-HS384
                - A256CBC-HS512
                - A128GCM
                - A192GCM
                - A256GCM
                authorization_signing_alg_values_supported:
                - HS256
                - HS384
                - HS512
                - RS256
                - RS384
                - RS512
                - PS256
                - PS384
                - PS512
                - ES256
                - ES384
                - ES512
                - ES256K
                - EdDSA
                authorization_encryption_alg_values_supported:
                - RSA1_5
                - RSA-OAEP
                - RSA-OEAP-256
                - ECDH-ES
                - ECDH-ES+A128KW
                - ECDH-ES+A192KW
                - ECDH-ES+A256KW
                - A128KW
                - A192KW
                - A256KW
                - dir
                - A128GCMKW
                - A192GCMKW
                - A256GCMKW
                - PBES2-HS256+A128KW
                - PBES2-HS384+A192KW
                - PBES2-HS512+A256KW
                authorization_encryption_enc_values_supported:
                - A128CBC-HS256
                - A192CBC-HS384
                - A256CBC-HS512
                - A128GCM
                - A192GCM
                - A256GCM
                token_endpoint_auth_methods_supported:
                - client_secret_basic
                token_endpoint_auth_signing_alg_values_supported:
                - HS256
                - HS384
                - HS512
                - RS256
                - RS384
                - RS512
                - PS256
                - PS384
                - PS512
                - ES256
                - ES384
                - ES512
                - ES256K
                - EdDSA
                display_values_supported:
                - page
                claim_types_supported:
                - normal
                claims_parameter_supported: true
                request_parameter_supported: true
                request_uri_parameter_supported: true
                require_request_uri_registration: true
                revocation_endpoint: https://my-service.example.com/revocation
                revocation_endpoint_auth_methods_supported: []
                revocation_endpoint_auth_signing_alg_values_supported:
                - HS256
                - HS384
                - HS512
                - RS256
                - RS384
                - RS512
                - PS256
                - PS384
                - PS512
                - ES256
                - ES384
                - ES512
                - ES256K
                - EdDSA
                introspection_endpoint: https://my-service.example.com/introspection
                introspection_endpoint_auth_methods_supported: []
                introspection_endpoint_auth_signing_alg_values_supported:
                - HS256
                - HS384
                - HS512
                - RS256
                - RS384
                - RS512
                - PS256
                - PS384
                - PS512
                - ES256
                - ES384
                - ES512
                - ES256K
                - EdDSA
                code_challenge_methods_supported:
                - plain
                - S256
                tls_client_certificate_bound_access_tokens: false
                backchannel_token_delivery_modes_supported: []
                backchannel_authentication_request_signing_alg_values_supported:
                - RS256
                - RS384
                - RS512
                - PS256
                - PS384
                - PS512
                - ES256
                - ES384
                - ES512
                - ES256K
                - EdDSA
                backchannel_user_code_parameter_supported: false
                require_pushed_authorization_requests: false
                authorization_details_supported: true
                verified_claims_supported: false
                dpop_signing_alg_values_supported:
                - RS256
                - RS384
                - RS512
                - PS256
                - PS384
                - PS512
                - ES256
                - ES384
                - ES512
                - ES256K
                - EdDSA
                require_signed_request_object: false
                authorization_response_iss_parameter_supported: true
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      operationId: service_configuration_api
      x-code-samples:
      - lang: shell
        label: curl
        source: 'curl -v https://us.authlete.com/api/21653835348762/service/configuration?pretty=true \

          -H ''Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F''

          '
      - lang: java
        label: java
        source: 'AuthleteConfiguration conf = ...;

          AuthleteApi api = AuthleteApiFactory.create(conf);


          api.getServiceConfiguration(true);

          '
      - lang: python
        source: 'conf = ...

          api = AuthleteApiImpl(conf)


          api.getServiceConfiguration(True)

          '
      tags:
      - Service Management
components:
  schemas:
    grant_type:
      type: string
      description: 'The grant type of the access token when the access token was created.

        '
      enum:
      - AUTHORIZATION_CODE
      - IMPLICIT
      - PASSWORD
      - CLIENT_CREDENTIALS
      - REFRESH_TOKEN
      - CIBA
      - DEVICE_CODE
      - TOKEN_EXCHANGE
      - JWT_BEARER
      - PRE_AUTHORIZED_CODE
    client_registration_type:
      type: string
      description: "Values for the `client_registration_types` RP metadata and the\n `client_registration_types_supported` OP metadata that are defined in\n [OpenID Connect Federation 1.0](https://openid.net/specs/openid-connect-federation-1_0.html).\n"
      enum:
      - AUTOMATIC
      - EXPLICIT
    credential_issuer_metadata:
      type: object
      properties:
        authorizationServers:
          type: array
          items:
            type: string
          description: 'The identifiers of the authorization servers that the credential issuer relies on for authorization.

            This property corresponds to the authorization_servers metadata. When the credential issuer works

            as an authorization server for itself, this property should be omitted.

            '
        credentialIssuer:
          type: string
          description: The identifier of a credential request.
        credentialEndpoint:
          type: string
          format: uri
          description: The URL of the credential endpoint of the credential issuer.
        batchCredentialEndpoint:
          type: string
          format: uri
          description: The URL of the batch credential endpoint of the credential issuer.
        deferredCredentialEndpoint:
          type: string
          description: The URL of the deferred credential endpoint of the credential issuer.
        credentialsSupported:
          type: string
          description: 'A JSON object describing supported credential configurations.

            This property corresponds to the credential_configurations_supported metadata.

            Note: Due to a breaking change in December 2023, this was changed from a JSON array to a JSON object.

            '
        credentialResponseEncryptionAlgValuesSupported:
          type: array
          items:
            type: string
          description: 'The supported JWE `alg` algorithms for credential response encryption. This property corresponds

            to the `credential_response_encryption.alg_values_supported` metadata.

            '
        credentialResponseEncryptionEncValuesSupported:
          type: array
          items:
            type: string
          description: 'The supported JWE `enc` algorithms for credential response encryption. This property corresponds

            to the `credential_response_encryption.enc_values_supported` metadata.

            '
        requireCredentialResponseEncryption:
          type: boolean
          description: 'The boolean flag indicating whether credential response encryption is required. This property

            corresponds to the `credential_response_encryption.encryption_required metadata`. If this flag

            is `true`, every credential request to the credential issuer must include the `credential_response_encryption`

            property.

            '
    response_type:
      type: string
      enum:
      - NONE
      - CODE
      - TOKEN
      - ID_TOKEN
      - CODE_TOKEN
      - CODE_ID_TOKEN
      - ID_TOKEN_TOKEN
      - CODE_ID_TOKEN_TOKEN
    tagged_value:
      type: object
      properties:
        tag:
          type: string
          description: The language tag part.
        value:
          type: string
          description: The value part.
    hsk:
      type: object
      description: 'Holds information about a key managed in an HSM (Hardware Security Module)

        '
      properties:
        kty:
          type: string
          description: 'The key type (EC or RSA)

            '
        use:
          type: string
          description: 'Get the use of the key on the HSM.

            When the key use is "sig" (signature), the private key on the HSM is used to sign data and the corresponding public key is used to verify the signature.

            When the key use is "enc" (encryption), the private key on the HSM is used to decrypt encrypted data which have been encrypted with the corresponding public key

            '
        kid:
          type: string
          description: 'Key ID for the key on the HSM.

            '
        hsmName:
          type: string
          description: 'The name of the HSM.

            The identifier for the HSM that sits behind the Authlete server. For example, "google".

            '
        handle:
          type: string
          description: 'The handle for the key on the HSM.

            A handle is a base64url-encoded 256-bit random value (43 letters) which is assigned by Authlete on the call of the /api/hsk/create API

            '
        publicKey:
          type: string
          description: 'The public key that corresponds to the key on the HSM.

            '
        alg:
          type: string
          description: 'The algorithm of the key on the HSM. When the key use is `"sig"`, the algorithm represents a

            signing algorithm such as `"ES256"`. When the key use is `"enc"`, the algorithm represents an

            encryption algorithm such as `"RSA-OAEP-256"`.

            '
    display:
      type: string
      description: 'The display mode which the client application requests by `display` request parameter.

        When the authorization request does not have `display` request parameter, `PAGE` is set as the default value.


        It is ensured that the value of `display` is one of the supported display modes which are specified

        by `supportedDisplays` configuration parameter of the service. If the display mode specified by the

        authorization request is not supported, an error is raised.


        Values for this property correspond to the values listed in

        "[OpenID Connect Core 1.0, 3.1.2.1. Authentication Request](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest), display".

        '
      enum:
      - PAGE
      - POPUP
      - TOUCH
      - WAP
    jws_alg:
      type: string
      nullable: true
      description: "The signature algorithm for JWT. This value is represented on 'alg' attribute\nof the header of JWT.\n\nit's semantics depends upon where is this defined, for instance:\n  - as service accessTokenSignAlg value, it defines that access token are JWT and the algorithm used to sign it. Check your [KB article](https://kb.authlete.com/en/s/oauth-and-openid-connect/a/jwt-based-access-token).\n  - as client authorizationSignAlg value, it represents the signature algorithm used when [creating a JARM response](https://kb.authlete.com/en/s/oauth-and-openid-connect/a/enabling-jarm).\n  - or as client requestSignAlg value, it specifies which is the expected signature used by [client on a Request Object](https://kb.authlete.com/en/s/oauth-and-openid-connect/a/request-objects).\n"
      enum:
      - NONE
      - HS256
      - HS384
      - HS512
      - RS256
      - RS384
      - RS512
      - ES256
      - ES384
      - ES512
      - PS256
      - PS384
      - PS512
      - ES256K
      - EdDSA
    sns_credentials:
      type: object
      properties:
        sns:
          type: string
          description: SNS.
        apiKey:
          type: string
          description: API key.
        apiSecret:
          type: string
          description: API secret.
    attachment_type:
      type: string
      description: "Supported attachment types. This property corresponds to the `attachments_supported`\n server metadata which was added by the third implementer's draft of OpenID Connect\n for Identity Assurance 1.0.\n"
      enum:
      - EMBEDDED
      - EXTERNAL
    service_get_list_response:
      type: object
      properties:
        start:
          type: integer
          format: int32
          description: 'Start index (inclusive) of the result set. The default value is 0. Must not be a negative

            number.

            '
        end:
          type: integer
          format: int32
          description: 'Start index (inclusive) of the result set. The default value is 0. Must not be a negative

            number.

            '
        totalCount:
          type: integer
          format: int32
          description: 'Total number of services owned by the service owner. This doesn''t mean the number of services

            contained in the response.

            '
        services:
          type: array
          items:
            $ref: '#/components/schemas/service'
          description: 'An array of services.

            '
    trust_anchor:
      type: object
      properties:
        entityId:
          type: string
          description: 'the entity ID of the trust anchor

            '
        jwks:
          type: string
          description: 'the JWK Set document containing public keys of the trust anchor

            '
    fapi_mode:
      type: string
      enum:
      - FAPI1_ADVANCED
      - FAPI1_BASELINE
      - FAPI2_MESSAGE_SIGNING_AUTH_REQ
      - FAPI2_MESSAGE_SIGNING_AUTH_RES
      - FAPI2_MESSAGE_SIGNING_INTROSPECTION_RES
      - FAPI2_SECURITY
    prompt:
      type: string
      description: 'The prompt that the UI displayed to the end-user must satisfy as the minimum level. This value comes from `prompt` request parameter.


        When the authorization request does not contain `prompt` request parameter, `CONSENT` is used as the default value.


        See "[OpenID Connect Core 1.0, 3.1.2.1. Authentication Request](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest), prompt" for `prompt` request parameter.

        '
      enum:
      - NONE
      - LOGIN
      - CONSENT
      - SELECT_ACCOUNT
      - CREATE
    claim_type:
      type: string
      enum:
      - NORMAL
      - AGGREGATED
      - DISTRIBUTED
    service:
      type: object
      example:
        number: 715948317
        serviceName: My Test Service
        issuer: https://example.com
        supportedScopes:
        - profile
        - email
        - openid
        supportedResponseTypes:
        - CODE
        supportedGrantTypes:
        - AUTHORIZATION_CODE
        - REFRESH_TOKEN
      properties:
        number:
          type: integer
          format: int32
          readOnly: true
          description: The sequential number of the service. The value of this property is assigned by Authlete.
        serviceName:
          type: string
          description: The name of this service.
        issuer:
          type: string
          description: 'The issuer identifier of the service.


            A URL that starts with  https:// and has no query or fragment component.


            The value of this property is used as `iss` claim in an [ID token](https://openid.net/specs/openid-connect-core-1_0.html#IDToken)

            and `issuer` property in the [OpenID Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).

            '
        description:
          type: string
          description: The description about the service.
        apiKey:
          type: integer
          format: int64
          readOnly: true
          description: The service ID used in Authlete API calls. The value of this property is assigned by Authlete.
        apiSecret:
          type: string
          readOnly: true
          description: "The API secret of this service. This value is assigned by Authlete and \nis used for service authentication in API calls.\n"
        tokenBatchNotificationEndpoint:
          type: string
          format: uri
          description: "The endpoint for batch token notifications. This endpoint is called when \nmultiple tokens are issued or revoked in a batch operation.\n"
        clientAssertionAudRestrictedToIssuer:
          type: boolean
          description: "The flag indicating whether the audience of client assertion JWTs must \nmatch the issuer identifier of this service.\n"
        serviceOwnerNumber:
          type: integer
          format: int32
          readOnly: true
          description: "The number of the organization that owns this service. This value is \nassigned by Authlete.\n"
        clientsPerDeveloper:
          type: integer
          format: int32
          description: 'The maximum number of client applications that a developer can have.

            '
        developerAuthenticationCallbackEndpoint:
          type: string
          format: uri
          description: "The endpoint for developer authentication callbacks. This is used when \ndevelopers log into the developer portal.\n"
        developerAuthenticationCallbackApiKey:
          type: string
          description: "The API key for basic authentication at the developer authentication \ncallback endpoint.\n"
        developerAuthenticationCallbackApiSecret:
          type: string
          description: "The API secret for basic authentication at the developer authentication \ncallback endpoint.\n"
        supportedSnses:
          type: array
          items:
            type: string
            enum:
            - FACEBOOK
          description: "Social login services (SNS) that this service supports for end-user \nauthentication.\n"
        snsCredentials:
          type: array
          items:
            $ref: '#/components/schemas/sns_credentials'
          description: "The credentials for social login services (SNS) that are used for \nend-user authentication.\n"
        clientIdAliasEnabled:
          type: boolean
          description: Deprecated. Always `true`.
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/pair'
          description: "The `metadata` of the service. The content of the returned array depends on contexts.\nThe predefined service metadata is listed in the following table.\n\n  | Key | Description |\n  | --- | --- |\n  | `clientCount` | The number of client applications which belong to this service.  |\n"
        createdAt:
          type: integer
          format: int64
          readOnly: true
          description: 'The time at which this service was created. The value is represented as milliseconds since the

            UNIX epoch (`1970-01-01`).

            '
        modifiedAt:
          type: integer
          format: int64
          readOnly: true
          description: 'The time at which this service was last modified. The value is represented as milliseconds since

            the UNIX epoch (1970-01-01).

            '
        authenticationCallbackEndpoint:
          type: string
          format: uri
          description: 'A Web API endpoint for user authentication which is to be prepared on the service side.


            The endpoint must be implemented if you do not implement the UI at the authorization endpoint

            but use the one provided by Authlete.


            The user authentication at the authorization endpoint provided by Authlete is performed by making

            a `POST` request to this endpoint.

            '
        authenticationCallbackApiKey:
          type: string
          description: 'API key for basic authentication at the authentication callback endpoint.


            If the value is not empty, Authlete generates Authorization header for Basic authentication when

            making a request to the authentication callback endpoint.

            '
        authenticationCallbackApiSecret:
          type: string
          description: API secret for `basic` authentication at the authentication callback endpoint.
        supportedAcrs:
          readOnly: true
          type: array
          items:
            type: string
          description: 'Values of acrs (authentication context class references) that the service supports.


            The value of this property is used as `acr_values_supported`

            property in the [OpenID Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).

            '
        supportedGrantTypes:
          type: array
          items:
            $ref: '#/components/schemas/grant_type'
          description: 'Values of `grant_type` request parameter that the service supports.


            The value of this property is used as `grant_types_supported property` in the

            [OpenID Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).

            '
        supportedResponseTypes:
          type: array
          items:
            $ref: '#/components/schemas/response_type'
          description: 'Values of `response_type` request parameter that

            the service supports. Valid values are listed in Response Type.


            The value of this property is used as `response_types_supported` property in the

            [OpenID Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).

            '
        supportedAuthorizationDetailsTypes:
          type: array
          items:
            type: string
          description: 'The supported data types that can be used as values of the type field in `authorization_details`.


            This property corresponds to the `authorization_details_types_supported` metadata. See "OAuth 2.0

            Rich Authorization Requests" (RAR) for details.

            '
        supportedServiceProfiles:
          type: array
          items:
            $ref: '#/components/schemas/service_profile'
          description: 'The profiles that this service supports.

            '
        errorDescriptionOmitted:
          type: boolean
          description: 'The flag to indicate whether the `error_description` response parameter is omitted.


            According to [RFC 6749](https://tools.ietf.org/html/rfc6749), an authorization server may include

            the `error_description` response parameter in error responses.


            If `true`, Authlete does not embed the `error_description` response parameter in error responses.

            '
        errorUriOmitted:
          type: boolean
          description: 'The flag to indicate whether the `error_uri` response parameter is omitted.


            According to [RFC 6749](https://tools.ietf.org/html/rfc6749), an authorization server may include the `error_uri` response parameter in error responses.


            If `true`, Authlete does not embed the

            `error_uri` response parameter in error responses.

            '
        authorizationEndpoint:
          type: string
          format: uri
          description: 'The authorization endpoint of the service.


            A URL that starts with `https://` and has no fragment component. For example, `https://example.com/auth/authorization`.


            The value of this property is used as `authorization_endpoint` property in the [OpenID Provider

            Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).

            '
        directAuthorizationEndpointEnabled:
          type: boolean
          description: 'The flag to indicate whether the direct authorization endpoint is enabled or not.


            The path of the endpoint is `/api/auth/authorization/direct/service-api-key`.

            '
        supportedUiLocales:
          type: array
          items:
            type: string
          description: 'UI locales that the service supports.


            Each element is a language tag defined in [RFC 5646](https://tools.ietf.org/html/rfc5646). For example, `en-US` and `ja-JP`.


            The value of this property is used as `ui_locales_supported` property in the [OpenID Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).

            '
        supportedDisplays:
          type: array
          items:
            $ref: '#/components/schemas/display'
          description: 'Values of `display` request parameter that service supports.


            The value of this property is used as `display_values_supported` property in the Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).

            '
        pkceRequired:
          type: boolean
          description: 'The flag to indicate whether the use of Proof Key for Code Exchange (PKCE) is always required for authorization requests by Authorization Code Flow.


            If `true`, `code_challenge` request parameter is always required for authorization requests using Authorization Code Flow.


            See [RFC 7636](https://tools.ietf.org/html/rfc7636) (Proof Key for Code Exchange by OAuth Public Clients) for details about `code_challenge` request parameter.

            '
        pkceS256Required:
          type: boolean
          description: 'The flag to indicate whether `S256` is always required as the code challenge method whenever [PKCE (RFC 7636)](https://tools.ietf.org/html/rfc7636) is used.


            If this flag is set to `true`, `code_challenge_method=S256` must be included in the authorization request

            whenever it includes the `code_challenge` request parameter.

            Neither omission of the `code_challenge_method` request parameter nor use of plain (`code_challenge_method=plain`) is allowed.

            '
        authorizationResponseDuration:
          type: integer
          format: int64
          description: 'The duration of authorization response JWTs in seconds.


            [Financial-grade API: JWT Secured Authorization Response Mode for OAuth 2.0 (JARM)](https://openid.net/specs/openid-financial-api-jarm.html)

            defines new values for the `response_mode` request parameter. They are `query.jwt`, `fragment.jwt`,

            `form_post.jwt` and `jwt`. If one of them is specified as the response mode, response parameters

            from the authorization endpoint will be packed into a JWT. This property is used to compute the

            value of the `exp` claim of the JWT.

            '
        authorizationCodeDuration:
          type: integer
          format: int64
          description: 'The duration of authorization codes in seconds.

            '
        tokenEndpoint:
          type: string
          format: uri
          description: 'The [token endpoint](https://tools.ietf.org/html/rfc6749#section-3.2) of the service.


            A URL that starts with `https://` and has not fragment component. For example, `https://example.com/auth/token`.


            The value of this property is used as `token_endpoint` property in the

            [OpenID Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).

            '
        directTokenEndpointEnabled:
          type: boolean
          description: 'The flag to indicate whether the direct token endpoint is enabled or not. The path of the endpoint

            is `/api/auth/token/direct/service-api-key`.

            '
        supportedTokenAuthMethods:
          type: array
          items:
            $ref: '#/components/schemas/client_auth_method'
          description: 'Client authentication methods supported by the token endpoint of the service.


            The value of this property is used as `token_endpoint_auth_methods_supports` property in the

            [OpenID Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).

            '
        missingClientIdAllowed:
          type: boolean
          description: 'The flag to indicate token requests from public clients without the `client_id` request parameter are allowed when the client can be guessed from `authorization_code` or `refresh_token`.


            This flag should not be set unless you have special reasons.

            '
        revocationEndpoint:
          type: string
          format: uri
          description: 'The [revocation endpoint](https://tools.ietf.org/html/rfc7009) of the service.


            A URL that starts with `https://`. For example, `https://example.com/auth/revocation`.

            '
        directRevocationEndpointEnabled:
          type: boolean
          description: 'The flag to indicate whether the direct revocation endpoint is enabled or not. The URL of the endpoint is `/api/auth/revocation/direct/service-api-key`. '
        supportedRevocationAuthMethods:
          type: array
          items:
            $ref: '#/components/schemas/client_auth_method'
          description: 'Client authentication methods supported at the revocation endpoint.

            '
        introspectionEndpoint:
          type: string
          description: The URI of the introspection endpoint.
          format: uri
        directIntrospectionEndpointEnabled:
          type: boolean
          description: 'The flag to indicate whether the direct userinfo endpoint is enabled or not. The path of the endpoint is `/api/auth/userinfo/direct/{serviceApiKey}`. '
        supportedIntrospectionAuthMethods:
          type: array
          description: 'Client authentication methods supported at the introspection endpoint.

            '
          items:
            $ref: '#/components/schemas/client_auth_method'
        pushedAuthReqEndpoint:
          type: string
          description: 'The URI of the pushed authorization request endpoint.


            This property corresponds to the `pushed_authorization_request_endpoint` metadata defined in "[5. Authorization Server Metadata](https://tools.ietf.org/html/draft-lodderstedt-oauth-par#section-5)" of OAuth 2.0 Pushed Authorization Requests.

            '
          format: uri
        pushedAuthReqDuration:
          type: integer
          format: int64
          description: 'The duration of pushed authorization requests in seconds.

            '
          x-mint:
            metadata:
              description: The duration of pushed authorization requests in seconds.
            content: '<Accordion title="Full description" defaultOpen={false}>

              [OAuth 2.0 Pushed Authorization Requests](https://tools.ietf.org/html/draft-lodderstedt-oauth-par)

              defines an endpoint (called "pushed authorization request endpoint") which client applications

              can register authorization requests into and get corresponding URIs (called "request URIs") from.

              The issued URIs represent the registered authorization requests. The client applications can use

              the URIs as the value of the `request_uri` request parameter in an authorization request.


              The property represents the duration of registered authorization requests and is used as the value

              of the `expires_in` parameter in responses from the pushed authorization request endpoint.

              </Accordion>

              '
        parRequired:
          type: boolean
          description: 'The flag to indicate whether this service requires that clients use the pushed authorization

            request endpoint.


            This property corresponds to the `require_pushed_authorization_requests` server metadata defined

            in [OAuth 2.0 Pushed Authorization Requests](https://tools.ietf.org/html/draft-lodderstedt-oauth-par).

            '
        requestObjectRequired:
          type: boolean
          description: 'The flag to indicate whether this service requires that authorization requests always utilize

            a request object by using either request or `request_uri` request parameter.


            If this flag is set to `true` and the value of `traditionalRequestObjectProcessingApplied` is

            `false`, the value of `require_signed_request_object` server metadata of this service is reported

            as `true` in the discovery document. The metadata is defined in JAR (JWT Secured Authorization Request).

            That `require_signed_request_object` is `true` means that authorization requests which don''t

            conform to the JAR specification are rejected.

            '
        traditionalRequestObjectProcessingApplied:
          type: boolean
          description: 'The flag to indicate whether a request object is processed based on rules defined in

            [OpenID Connect Core 1.0](https://openid.net/specs/openid-connect-core-1_0.html) or JAR (JWT

            Secured Authorization Request).

            '
          x-mint:
            metadata:
              description: The flag to indicate whether a request object is processed based on rules defined in [OpenID Connect Core 1.0](https://openid.net/specs/openid-connect-core-1_0.html) or JAR (JWT Secured Authorization Request).
            content: "<Accordion title=\"Full description\" defaultOpen={false}>\nDifferences between rules in OpenID Connect Core 1.0 and ones in JAR are as follows.\n  - JAR requires that a request object be always -signed.\n  - JAR does not allow request parameters outside a request object to be referred to.\n  - OIDC Core 1.0 requires that response_type request parameter exist outside a request object even if the request object includes the request parameter.\n  - OIDC Core 1.0 requires that scope request parameter exist outside a request object if the authorization request is an\n  - OIDC request even if the request object includes the request parameter.\n\nIf this flag is set to `false` and the value of `requestObjectRequired` is `true`, the value of\n`require_signed_request_object` server metadata of this service\nis reported as `true` in the discovery document. The metadata is defined in JAR (JWT Secured\nAuthorization Request). That `require_signed_request_object` is `true` means that authorization\nrequests which don't conform to the JAR specification are rejected.\n</Accordion>\n"
        mutualTlsValidatePkiCertChain:
          type: boolean
          description: 'The flag to indicate whether this service validates certificate chains during PKI-based client mutual TLS authentication.

            '
        trustedRootCertificates:
          type: array
          items:
            type: string
          description: 'The list of root certificates trusted by this service for PKI-based client mutual TLS authentication.

            '
        mtlsEndpointAliases:
          type: array
          items:
            $ref: '#/components/schemas/named_uri'
          description: 'The MTLS endpoint aliases.

            '
          x-mint:
            metadata:
              description: The MTLS endpoint aliases.
            content: "<Accordion title=\"Full description\" defaultOpen={false}>\nThis property corresponds to the mtls_endpoint_aliases metadata defined in \"5. Metadata for Mutual TLS Endpoint Aliases\" of [OAuth 2.0 Mutual TLS Client Authentication and Certificate-Bound Access Tokens](https://datatracker.ietf.org/doc/rfc8705/).\n\nThe aliases will be embedded in the response from the discovery endpoint like the following.\n\n```json\n&#123;\n  ......,\n  \"mtls_endpoint_aliases\": &#123;\n    \"token_endpoint\":         \"https://mtls.example.com/token\",\n    \"revocation_endpoint\":    \"https://mtls.example.com/revo\",\n    \"introspection_endpoint\": \"https://mtls.example.com/introspect\"\n  &#125;\n&#125;\n```\n</Accordion>\n"
        accessTokenType:
          type: string
          description: 'The access token type.


            This value is used as the value of `token_type` property in access token responses. If this service

            complies with [RFC 6750](https://tools.ietf.org/html/rfc6750), the value of this property should

            be `Bearer`.


            See [RFC 6749 (OAuth 2.0), 7.1. Access Token Types](https://tools.ietf.org/html/rfc6749#section-7.1) for details.

            '
        tlsClientCertificateBoundAccessTokens:
          type: boolean
          description: 'The flag to indicate whether this service supports issuing TLS client certificate bound access tokens.

            '
        accessTokenDuration:
          type: integer
          format: int64
          description: 'The duration of access tokens in seconds. This value is used as the value of `expires_in` property

            in access token responses. `expires_in` is defined [RFC 6749, 5.1. Successful Response](https://tools.ietf.org/html/rfc6749#section-5.1).

            '
        singleAccessTokenPerSubject:
          type: boolean
          description: 'The flag to indicate whether the number of access tokens per subject (and per client) is at most one or can be more.


            If `true`, an attempt to issue a new access token invalidates existing access tokens that are associated with the same subject and the same client.


            Note that, however, attempts by [Client Credentials Flow](https://tools.ietf.org/html/rfc6749#section-4.4) do not invalidate existing access tokens because access tokens issued by Client Credentials Flow are not associated with any end-user''s subject. Also note that an attempt by [Refresh Token Flow](https://tools.ietf.org/html/rfc6749#section-6) invalidates the coupled access token only and this invalidation is always performed regardless of whether the value of this setting item is `true` or `false`.

            '
        accessTokenSignAlg:
          $ref: '#/components/schemas/jws_alg'
        accessTokenSignatureKeyId:
          type: string
          description: 'The key ID to identify a JWK used for signing access tokens.


            A JWK Set can be registered as a property of a service. A JWK Set can contain 0 or more JWKs.

            Authlete Server has to pick up one JWK for signing from the JWK Set when it generates a JWT-based

            access token. Authlete Server searches the registered JWK Set for a JWK which satisfies conditions

            for access token signature. If the number of JWK candidates which satisfy the conditions is 1,

            there is no problem. On the other hand, if there exist multiple candidates, a Key ID is needed

            to be specified so that Authlete Server can pick up one JWK from among the JWK candidates.

            '
        refreshTokenDuration:
          type: integer
          format: int64
          description: The duration of refresh tokens in seconds. The related specifications have no requirements on refresh token duration, but Authlete sets expiration for refresh tokens.
        refreshTokenDurationKept:
          type: boolean
          description: 'The flag to indicate whether the remaining duration of the used refresh token is taken over to

            the newly issued refresh token.

            '
        refreshTokenDurationReset:
          type: boolean
          description: 'The flag which indicates whether duration of refresh tokens are reset when they are used even

            if the `refreshTokenKept` property of this service set to is `true` (= even if "Refresh Token

            Continuous Use" is "Kept").


            This flag has no effect when the `refreshTokenKept` property is set to `false`. In other words,

            if this service issues a new refresh token on every refresh token request, the refresh token

            will have fresh duration (unless `refreshTokenDurationKept` is set to `true`) and this

            `refreshTokenDurationReset` property is not referenced.

            '
        refreshTokenKept:
          type: boolean
          description: 'The flag to indicate whether a refresh token remains unchanged or gets renewed after its use.


            If `true`, a refresh token used to get a new access token remains valid after its use. Otherwise, if `false`, a refresh token is invalidated after its use and a new refresh token is issued.


            See [RFC 6749 6. Refreshing an Access Token](https://tools.ietf.org/html/rfc6749#section-6), as to how to get a new access token using a refresh token.

            '
        supportedScopes:
          type: array
          items:
            $ref: '#/components/schemas/scope'
          description: 'Scopes supported by the service.

            '
          x-mint:
            metadata:
              description: Scopes supported by the service.
            content: '<Accordion title="Full description" defaultOpen={false}>

              Authlete strongly recommends that the service register at least the following scopes.


              | Name | Description |

              | --- | --- |

              | openid | A permission to get an ID token of an end-user. The `openid` scope appears in [OpenID Connect Core 1.0, 3.1.2.1. Authentication Request, scope](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest). Without this scope, Authlete does not allow `response_type` request parameter to have values other than code and token. |

              | profile | A permission to get information about `name`, `family_name`, `given_name`, `middle_name`, `nickname`, `preferred_username`, `profile`, `picture`, `website`, `gender`, `birthdate`, `zoneinfo`, `locale` and `updated_at` from the user info endpoint. See [OpenID Connect Core 1.0, 5.4. Requesting Claims using Scope Values](https://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims) for details. |

              | email | A permission to get information about `email` and `email_verified` from the user info endpoint. See [OpenID Connect Core 1.0, 5.4. Requesting Claims using Scope Values](https://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims) for details. |

              | address | A permission to get information about address from the user info endpoint. See [OpenID Connect Core 1.0, 5.4. Requesting Claims using Scope Values](https://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims) and [5.1.1. Address Claim](https://openid.net/specs/openid-connect-core-1_0.html#AddressClaim) for details. |

              | phone | A permission to get information about `phone_number` and `phone_number_verified` from the user info endpoint. See [OpenID Connect Core 1.0, 5.4. Requesting Claims using Scope Values](https://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims) for details. |

              | offline_access | A permission to get information from the user info endpoint even when the end-user is not present. See [OpenID Connect Core 1.0, 11. Offline Access](https://openid.net/specs/openid-connect-core-1_0.html#OfflineAccess) for details. |


              The value of this property is used as `scopes_supported` property in the [OpenID Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).

              </Accordion>

              '
        scopeRequired:
          type: boolean
          description: 'The flag to indicate whether requests that request no scope are rejected or not.

            '
          x-mint:
            metadata:
              description: The flag to indicate whether requests that request no scope are rejected or not.
            content: '<Accordion title="Full description" defaultOpen={false}>

              When a request has no explicit `scope` parameter and the service''s pre-defined default scope set is empty,

              the authorization server regards the request requests no scope. When this flag is set to `true`,

              requests that request no scope are rejected.


              The requirement below excerpted from [RFC 6749 Section 3.3](https://tools.ietf.org/html/rfc6749#section-3.3)

              does not explicitly mention the case where the default scope set is empty.


              > If the client omits the scope parameter when requesting authorization, the authorization server

              MUST either process the request using a pre-defined default value or fail the request indicating an invalid scope.


              However, if you interpret *"the default scope set exists but is empty"* as *"the default scope set does not exist"*

              and want to strictly conform to the requirement above, this flag has to be `true`.

              </Accordion>

              '
        idTokenDuration:
          type: integer
          format: int64
          description: '''The duration of [ID token](https://openid.net/specs/openid-connect-core-1_0.html#IDToken)s

            in seconds. This value is used to calculate the value of `exp` claim in an ID token.''

            '
        allowableClockSkew:
          type: integer
          format: int32
          description: 'The allowable clock skew between the server and clients in seconds.


            The clock skew is taken into consideration when time-related claims in a JWT (e.g. `exp`, `iat`, `nbf`) are verified.

            '
        supportedClaimTypes:
          type: array
          items:
            $ref: '#/components/schemas/claim_type'
          description: 'Claim types supported by the service. Valid values are listed in Claim Type. Note that Authlete

            currently doesn''t provide any API to help implementations for `AGGREGATED` and `DISTRIBUTED`.


            The value of this property is used as `claim_types_supported` property in the [OpenID Provider

            Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).

            '
        supportedClaimLocales:
          type: array
          items:
            type: string
          description: 'Claim locales that the service supports. Each element is a language tag defined in [RFC 5646](https://tools.ietf.org/html/rfc5646).

            For example, `en-US` and `ja-JP`. See [OpenID Connect Core 1.0, 5.2. Languages and Scripts](https://openid.net/specs/openid-connect-core-1_0.html#ClaimsLanguagesAndScripts)

            for details.


            The value of this property is used as `claims_locales_supported` property in the

            [OpenID Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).

            '
        supportedClaims:
          type: array
          items:
            type: string
          description: 'Claim names that the service supports. The standard claim names listed in [OpenID Connect Core 1.0,

            5.1. Standard Claim](https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims) should

            be supported. The following is the list of standard claims.

            '
          x-mint:
            metadata:
              description: Claim names that the service supports. The standard claim names listed in [OpenID Connect Core 1.0, 5.1. Standard Claim](https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims) should be supported. The following is the list of standard claims.
            content: '<Accordion title="Full description" defaultOpen={false}>

              - `sub`

              - `name`

              - `given_name`

              - `family_name`

              - `middle_name`

              - `nickname`

              - `preferred_username`

              - `profile`

              - `picture`

              - `website`

              - `email`

              - `email_verified`

              - `gender`

              - `birthdate`

              - `zoneinfo`

              - `locale`

              - `phone_number`

              - `phone_number_verified`

              - `address`

              - `updated_at`


              The value of this property is used as `claims_supported` property in the [OpenID Provider

              Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).


              The service may support its original claim names. See [OpenID Connect Core 1.0, 5.1.2. Additional

              Claims](https://openid.net/specs/openid-connect-core-1_0.html#AdditionalClaims).

              </Accordion>

              '
        claimShortcutRestrictive:
          type: boolean
          description: 'The flag indicating whether claims specified by shortcut scopes (e.g. `profile`) are included

            in the issued ID token only when no access token is issued.

            '
          x-mint:
            metadata:
              description: The flag indicating whether claims specified by shortcut scopes (e.g. `profile`) are included in the issued ID token only when no access token is issued.
            content: '<Accordion title="Full description" defaultOpen={false}>

              To strictly conform to the description below excerpted from [OpenID Connect Core 1.0 Section

              5.4](https://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims), this flag has to be `true`.


              > The Claims requested by the profile, email, address, and phone scope values are returned from

              the UserInfo Endpoint, as described in Section 5.3.2, when a response_type value is used that

              results in an Access Token being issued. However, when no Access Token is issued (which is the

              case for the response_type value id_token), the resulting Claims are returned in the ID Token.

              </Accordion>

              '
        jwksUri:
          type: string
          format: uri
          description: 'The URL of the service''s [JSON Web Key Set](https://tools.ietf.org/html/rfc7517) document. For

            example, `http://example.com/auth/jwks`.


            Client applications accesses this URL (1) to get the public key of the service to validate the

            signature of an ID token issued by the service and (2) to get the public key of the service to

            encrypt an request object of the client application. See [OpenID Connect Core 1.0, 10. Signatures

            and Encryption](https://openid.net/specs/openid-connect-core-1_0.html#SigEnc) for details.


            The value of this property is used as `jwks_uri` property in the [OpenID Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).

            '
        directJwksEndpointEnabled:
          type: boolean
          description: '''The flag to indicate whether the direct jwks endpoint is enabled or not. The path of the endpoint

            is `/api/service/jwks/get/direct/service-api-key`. ''

            '
        jwks:
          type: string
          description: 'The content of the service''s [JSON Web Key Set](https://tools.ietf.org/html/rfc7517) document.


            If this property is not `null` in a `/service/create` request or a `/service/update` request,

            Authlete hosts the content in the database. This property must not be `null` and must contain

            pairs of public/private keys if the service wants to support asymmetric signatures for ID tokens

            and asymmetric encryption for request objects. See [OpenID Connect Core 1.0, 10. Signatures and

            Encryption](https://openid.net/specs/openid-connect-core-1_0.html#SigEnc) for details.

            '
        idTokenSignatureKeyId:
          type: string
          description: 'The key ID to identify a JWK used for ID token signature using an asymmetric key.

            '
          x-mint:
            metadata:
              description: The key ID to identify a JWK used for ID token signature using an asymmetric key.
            content: '<Accordion title="Full description" defaultOpen={false}>

              A JWK Set can be registered as a property of a Service. A JWK Set can contain 0 or more JWKs

              (See [RFC 7517](https://tools.ietf.org/html/rfc7517) for details about JWK). Authlete Server has

              to pick up one JWK for signature from the JWK Set when it generates an ID token and signature

              using an asymmetric key is required. Authlete Server searches the registered JWK Set for a JWK

              which satisfies conditions for ID token signature. If the number of JWK candidates which satisfy

              the conditions is 1, there is no problem. On the other hand, if there exist multiple candidates,

              a [Key ID](https://tools.ietf.org/html/rfc7517#section-4.5) is needed to be specified so that

              Authlete Server can pick up one JWK from among the JWK candidates.


              This `idTokenSignatureKeyId` property exists for the purpose described above. For key rotation

              (OpenID Connect Core 1.0, [10.1.1. Rotation of Asymmetric Signing Keys](http://openid.net/specs/openid-connect-core-1_0.html#RotateSigKeys)),

              this mechanism is needed.

              </Accordion>

              '
        userInfoSignatureKeyId:
          type: string
          description: 'The key ID to identify a JWK used for user info signature using an asymmetric key.

            '
          x-mint:
            metadata:
              description: The key ID to identify a JWK used for user info signature using an asymmetric key.
            content: '<Accordion title="Full description" defaultOpen={false}>

              A JWK Set can be registered as a property of a Service. A JWK Set can contain 0 or more JWKs

              (See [RFC 7517](https://tools.ietf.org/html/rfc7517) for details about JWK). Authlete Server has

              to pick up one JWK for signature from the JWK Set when it is required to sign user info (which

              is returned from [userinfo endpoint](http://openid.net/specs/openid-connect-core-1_0.html#UserInfo))

              using an asymmetric key. Authlete Server searches the registered JWK Set for a JWK which satisfies

              conditions for user info signature. If the number of JWK candidates which satisfy the conditions

              is 1, there is no problem. On the other hand, if there exist multiple candidates, a [Key ID](https://tools.ietf.org/html/rfc7517#section-4.5)

              is needed to be specified so that Authlete Server can pick up one JWK from among the JWK candidates.


              This `userInfoSignatureKeyId` property exists for the purpose described above. For key rotation

              (OpenID Connect Core 1.0, [10.1.1. Rotation of Asymmetric Signing Keys](http://openid.net/specs/openid-connect-core-1_0.html#RotateSigKeys)),

              this mechanism is needed.

[...]
