openapi: 3.0.3
info:
  title: Authlete Authorization Endpoint API
  description: "Welcome to the **Authlete API documentation**. Authlete is an **API-first service** where every aspect of the \nplatform is configurable via API. This documentation will help you authenticate and integrate with Authlete to \nbuild powerful OAuth 2.0 and OpenID Connect servers.\n\nAt a high level, the Authlete API is grouped into two categories:\n\n- **Management APIs**: Enable you to manage services and clients.\n- **Runtime APIs**: Allow you to build your own Authorization Servers or Verifiable Credential (VC) issuers.\n\n## \U0001F310 API Servers\n\nAuthlete is a global service with clusters available in multiple regions across the world:\n\n- \U0001F1FA\U0001F1F8 **US**: `https://us.authlete.com`\n- \U0001F1EF\U0001F1F5 **Japan**: `https://jp.authlete.com`\n- \U0001F1EA\U0001F1FA **Europe**: `https://eu.authlete.com`\n- \U0001F1E7\U0001F1F7 **Brazil**: `https://br.authlete.com`\n\nOur customers can host their data in the region that best meets their requirements.\n\n## \U0001F511 Authentication\n\nAll API endpoints are secured using **Bearer token authentication**. You must include an access token in every request:\n\n```\nAuthorization: Bearer YOUR_ACCESS_TOKEN\n```\n\n### Getting Your Access Token\n\nAuthlete supports two types of access tokens:\n\n**Service Access Token** - Scoped to a single service (authorization server instance)\n\n1. Log in to [Authlete Console](https://console.authlete.com)\n2. Navigate to your service → **Settings** → **Access Tokens**\n3. Click **Create Token** and select permissions (e.g., `service.read`, `client.write`)\n4. Copy the generated token\n\n**Organization Token** - Scoped to your entire organization\n\n1. Log in to [Authlete Console](https://console.authlete.com)\n2. Navigate to **Organization Settings** → **Access Tokens**\n3. Click **Create Token** and select org-level permissions\n4. Copy the generated token\n\n> ⚠️ **Important Note**: Tokens inherit the permissions of the account that creates them. Service tokens can only \n> access their specific service, while organization tokens can access all services within your org.\n\n### Token Security Best Practices\n\n- **Never commit tokens to version control** - Store in environment variables or secure secret managers\n- **Rotate regularly** - Generate new tokens periodically and revoke old ones\n- **Scope appropriately** - Request only the permissions your application needs\n- **Revoke unused tokens** - Delete tokens you're no longer using from the console\n\n### Quick Test\n\nVerify your token works with a simple API call:\n\n```bash\ncurl -X GET https://us.authlete.com/api/service/get/list \\\n  -H \"Authorization: Bearer YOUR_ACCESS_TOKEN\"\n```\n\n## \U0001F393 Tutorials\n\nIf you're new to Authlete or want to see sample implementations, these resources will help you get started:\n\n- [Getting Started with Authlete](https://www.authlete.com/developers/getting_started/)\n- [From Sign-Up to the First API Request](https://www.authlete.com/developers/tutorial/signup/)\n\n## \U0001F6E0 Contact Us\n\nIf you have any questions or need assistance, our team is here to help:\n\n- [Contact Page](https://www.authlete.com/contact/)\n"
  version: 3.0.16
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- description: 🇺🇸 US Cluster
  url: https://us.authlete.com
- description: 🇯🇵 Japan Cluster
  url: https://jp.authlete.com
- description: 🇪🇺 Europe Cluster
  url: https://eu.authlete.com
- description: 🇧🇷 Brazil Cluster
  url: https://br.authlete.com
security:
- bearer: []
tags:
- name: Authorization Endpoint
  description: API endpoints for implementing OAuth 2.0 Authorization Endpoint.
  x-tag-expanded: false
paths:
  /api/{serviceId}/auth/authorization:
    post:
      summary: Process Authorization Request
      x-badges:
      - color: red
        label: Core API
      description: 'This API parses request parameters of an authorization request and returns necessary data for the authorization server

        implementation to process the authorization request further.

        '
      x-mint:
        metadata:
          description: This API parses request parameters of an authorization request and returns necessary data for the authorization server implementation to process the authorization request further.
        content: "<Accordion title=\"Full description\" defaultOpen={false}>\nThis API is supposed to be called from within the implementation of the authorization endpoint of\nthe service. The endpoint implementation must extract the request parameters from the authorization\nrequest from the client application and pass them as the value of parameters request parameter for\nAuthlete's `/auth/authorization` API.\nThe value of `parameters` is either (1) the entire query string when the HTTP method of the request\nfrom the client application is `GET` or (2) the entire entity body (which is formatted in\n`application/x-www-form-urlencoded`) when the HTTP method of the request from the client application\nis `POST`.\nThe following code snippet is an example in JAX-RS showing how to extract request parameters from\nthe authorization request.\n```java\n@GET\npublic Response get(@Context UriInfo uriInfo)\n&#123;\n    // The query parameters of the authorization request.\n    String parameters = uriInfo.getRequestUri().getQuery();\n    ......\n&#125;\n@POST\n@Consumes(MediaType.APPLICATION_FORM_URLENCODED)\npublic Response post(String parameters)\n&#123;\n    // 'parameters' is the entity body of the authorization request.\n    ......\n&#125;\n```\nThe endpoint implementation does not have to parse the request parameters from the client application\nbecause Authlete's `/auth/authorization` API does it.\nThe response from `/auth/authorization` API has various parameters. Among them, it is `action`\nparameter that the authorization server implementation should check first because it denotes the\nnext action that the authorization server implementation should take. According to the value of\n`action`, the service implementation must take the steps described below.\n\n## INTERNAL_SERVER_ERROR\n\nWhen the value of `action` is `INTERNAL_SERVER_ERROR`, it means that the request from the authorization\nserver implementation was wrong or that an error occurred in Authlete.\nIn either case, from the viewpoint of the client application, it is an error on the server side.\nTherefore, the service implementation should generate a response to the client application with\nHTTP status of \"500 Internal Server Error\". Authlete recommends `application/json` as the content\ntype although OAuth 2.0 specification does not mention the format of the error response when the\nredirect URI is not usable.\n\nThe value of `responseContent` is a JSON string which describes the error, so it can be used as\nthe entity body of the response.\n\n---\n\nThe following illustrates the response which the service implementation should generate and return\nto the client application.\n\n```\nHTTP/1.1 500 Internal Server Error\nContent-Type: application/json\nCache-Control: no-store\nPragma: no-cache\n&#123;responseContent&#125;\n```\nThe endpoint implementation may return another different response to the client application\nsince \"500 Internal Server Error\" is not required by OAuth 2.0.\n\n## BAD_REQUEST\n\nWhen the value of `action` is `BAD_REQUEST`, it means that the request from the client application\nis invalid.\nA response with HTTP status of \"400 Bad Request\" should be returned to the client application and\nAuthlete recommends `application/json` as the content type although OAuth 2.0 specification does\nnot mention the format of the error response when the redirect URI is not usable.\n\nThe value of `responseContent` is a JSON string which describes the error, so it can be used as\nthe entity body of the response.\n\n---\n\nThe following illustrates the response which the service implementation should generate and return\nto the client application.\n\n```\nHTTP/1.1 400 Bad Request\nContent-Type: application/json\nCache-Control: no-store\nPragma: no-cache\n&#123;responseContent&#125;\n```\nThe endpoint implementation may return another different response to the client application since\n\"400 Bad Request\" is not required by OAuth 2.0.\n\n## LOCATION\n\nWhen the value of `action` is `LOCATION`, it means that the request from the client application\nis invalid but the redirect URI\nto which the error should be reported has been determined.\nA response with HTTP status of \"302 Found\" must be returned to the client application with `Location`\nheader which has a redirect URI with error parameter.\n\nThe value of `responseContent` is a redirect URI with `error` parameter, so it can be used as the\nvalue of `Location` header.\n\nThe following illustrates the response which the service implementation must generate and return\nto the client application.\n\n```\nHTTP/1.1 302 Found\nLocation: &#123;responseContent&#125;\nCache-Control: no-store\nPragma: no-cache\n```\n\n## FORM\n\nWhen the value of `action` is `FORM`, it means that the request from the client application is\ninvalid but the redirect URI to which the error should be reported has been determined, and that\nthe authorization request contains `response_mode=form_post` as is defined in [OAuth 2.0 Form Post\nResponse Mode](https://openid.net/specs/oauth-v2-form-post-response-mode-1_0.html).\nThe HTTP status of the response returned to the client application should be \"200 OK\" and the\ncontent type should be `text/html;charset=UTF-8`.\n\nThe value of `responseContent` is an HTML which can be used as     the entity body of the response.\n\n---\n\nThe following illustrates the response which the service implementation must generate and return\nto the client application.\n\n```\nHTTP/1.1 200 OK\nContent-Type: text/html;charset=UTF-8\nCache-Control: no-store\nPragma: no-cache\n&#123;responseContent&#125;\n```\n\n## NO_INTERACTION\n\nWhen the value of `action` is `NO_INTERACTION`, it means that the request from the client application\nhas no problem and requires the service to process the request without displaying any user interface\npages for authentication or consent. This case happens when the authorization request contains\n`prompt=none`.\nThe service must follow the steps described below.\n\n**[1] END-USER AUTHENTICATION**\n\nCheck whether an end-user has already logged in. If an end-user has logged in, go to the next step ([MAX_AGE]).\nOtherwise, call Authlete's `/auth/authorization/fail` API with `reason=NOT_LOGGED_IN` and use the response from\nthe API to generate a response to the client application.\n\n**[2] MAX AGE**\n\nGet the value of `maxAge` parameter from the `/auth/authorization` API response. The value represents\nthe maximum authentication age which has come from `max_age` request parameter or `defaultMaxAge`\nconfiguration parameter of the client application. If the value is `0`, go to the next step ([SUBJECT]).\nOtherwise, follow the sub steps described below.\n\n- (i) Get the time at which the end-user was authenticated. Note that this value is not managed by Authlete,\n  meaning that it is expected that the service implementation manages the value. If the service implementation\n  does not manage authentication time of end-users, call Authlete's `/auth/authorization/fail` API\n  with `reason=MAX_AGE_NOT_SUPPORTED` and use the API response to generate a response to the client\n  application.\n- (ii) Add the value of the maximum authentication age (which is represented in seconds) to the authentication\n  time. The calculated value is the expiration time.\n- (iii) Check whether the calculated value is equal to or greater than the current time. If this condition\n  is satisfied, go to the next step ([SUBJECT]). Otherwise, call Authlete's `/auth/authorization/fail`\n  API with `reason=EXCEEDS_MAX_AGE` and use the API response to generate a response to the client\n  application.\n\n**[3] SUBJECT**\n\nGet the value of `subject` from the `/auth/authorization` API response. The value represents an\nend-user who the client application expects to grant authorization. If the value is `null`, go to\nthe next step ([ACRs]). Otherwise, follow the sub steps described below.\n\n- (i) Compare the value of the requested subject to the current end-user.\n- (ii) If they are equal, go to the next step ([ACRs]). If they are not equal, call Authlete's\n  `/auth/authorization/fail` API with `reason=DIFFERENT_SUBJECT` and use the response from the API\n  to generate a response to the client application.\n\n**[4] ACRs**\n\nGet the value of `acrs` from the `/auth/authorization` API response. The value represents a list\nof ACRs (Authentication Context Class References) and comes from (1) acr claim in `claims` request\nparameter, (2) `acr_values` request parameter, or (3) `default_acr_values` configuration parameter\nof the client application.\nIt is ensured that all the ACRs in acrs are supported by the authorization server implementation.\nIn other words, it is ensured that all the ACRs are listed in `acr_values_supported` configuration\nparameter of the authorization server.\nIf the value of ACRs is `null`, go to the next step ([ISSUE]). Otherwise, follow the sub steps\ndescribed below.\n\n- (i) Get the ACR performed for the authentication of the current end-user. Note that this value is\n  managed not by Authlete but by the authorization server implementation. (If the authorization server\n  implementation cannot handle ACRs, it should not have listed ACRs as `acr_values_supported`.)\n- (ii) Compare the ACR value obtained in the above step to each element in the ACR array (`acrs`)\n  in the listed order.\n- (iii) If the ACR value was found in the array, (= the ACR performed for the authentication of the\n  current end-user did not match any one of the ACRs requested by the client application), check\n  whether one of the requested ACRs must be satisfied or not using `acrEssential` parameter in the\n  `/auth/authorization` API response. If the value of `acrEssential` parameter is `true`, call Authlete's\n  `/auth/authorization/fail` API with `reason=ACR_NOT_SATISFIED` and use the response from the API\n  to generate a response to the client application. Otherwise, go to the next step ([SCOPES]).\n\n**[5] SCOPES**\n\nGet the value of `scopes` from the `/auth/authorization` API response. If the array contains a\nscope which has not been granted to the client application by the end-user in the past, call\nAuthlete's `/auth/authorization/fail` API with `reason=CONSENT_REQUIRED` and use the response from\nthe API to generate a response to the client application. Otherwise, go to the next step ([RESOURCES]).\nNote that Authlete provides APIs to manage records of granted scopes (`/api/client/granted_scopes/*`\nAPIs), which is only available in a dedicated/onpremise Authlete server (contact sales@authlete.com\nfor details).\n\n**[6] DYNAMIC SCOPES**\n\nGet the value of `dynamicScopes` from the `/auth/authorization` API response. If the array contains\na scope which has not been granted to the client application by the end-user in the past, call\nAuthlete's `/auth/authorization/fail` API with `reason=CONSENT_REQUIRED` and use the response from\nthe API to generate a response to the client application. Otherwise, go to the next step ([RESOURCES]).\nNote that Authlete provides APIs to manage records of granted scopes (`/api/client/granted_scopes/*`\nAPIs) but dynamic scopes are not remembered as granted scopes.\n\n**[7] RESOURCES**\n\nGet the value of `resources` from the `/auth/authorization` API response. The array represents\nthe values of the `resource` request parameters. If you want to reject the request, call Authlete's\n`/auth/authorization/fail` API with `reason=INVALID_TARGET` and use the response from the API to\ngenerate a response to the client application. Otherwise, go to the next step ([ISSUE]).\nSee \"Resource Indicators for OAuth 2.0\" for details.\n\n**[8] ISSUE**\n\nIf all the above steps succeeded, the last step is to issue an authorization code, an ID token\nand/or an access token. (There is a special case, though. In the case of `response_type=none`,\nnothing is issued.) It can be performed by calling Authlete's `/auth/authorization/issue` API.\nThe API requires the following parameters. Prepare these parameters and call `/auth/authorization/issue`\nAPI and use the response to generate a response to the client application.\n- `ticket` (required)\n  This parameter represents a ticket which is exchanged with tokens at `/auth/authorization/issue`.\n  Use the value of `ticket` contained in the `/auth/authorization` API response.\n- `subject` (required)\n  This parameter represents the unique identifier of the current end-user. It is often called \"user ID\"\n  and it may or may not be visible to the user. In any case, it is a number or a string assigned\n  to an end-user by the authorization server implementation. Authlete does not care about the format\n  of the value of subject, but it must consist of only ASCII letters and its length must not exceed 100.\n  When the value of `subject` parameter in the /auth/authorization API response is not `null`,\n  it is necessarily identical to the value of `subject` parameter in the `/auth/authorization/issue`\n  API request.\n  The value of this parameter will be embedded in an ID token as the value of `sub` claim. When\nthe value of `subject_type` configuration parameter of the client application is `PAIRWISE`,\n  the value of sub claim is different from the value specified by this parameter, See [8. Subject\nIdentifier Types](https://openid.net/specs/openid-connect-core-1_0.html#SubjectIDTypes) of OpenID\n  Connect Core 1.0 for details about subject types.\n  You can use the `sub` request parameter to adjust the value of the `sub` claim in an ID token.\n  See the description of the `sub` request parameter for details.\n- `authTime` (optional)\n  This parameter represents the time when the end-user authentication occurred. Its value is the\n  number of seconds from `1970-01-01`. The value of this parameter will be embedded in an ID token\nas the value of `auth_time` claim.\n- `acr` (optional)\n  This parameter represents the ACR (Authentication Context Class Reference) which the authentication\n  of the end-user satisfies. When `acrs` in the `/auth/authorization` API response is a non-empty\n  array and the value of `acrEssential` is `true`, the value of this parameter must be one of the\n  array elements. Otherwise, even `null` is allowed. The value of this parameter will be embedded\n  in an ID token as the value of `acr` claim.\n- `claims` (optional)\n  This parameter represents claims of the end-user. \"Claims\" here are pieces of information about\n  the end-user such as `\"name\"`, `\"email\"` and `\"birthdate\"`. The authorization server implementation\n  is required to gather claims of the end-user, format the claim values into JSON and set the JSON\n  string as the value of this parameter.\n  The claims which the authorization server implementation is required to gather are listed in\n  `claims` parameter in the `/auth/authorization` API response.\n  For example, if claims parameter lists `\"name\"`, `\"email\"` and `\"birthdate\"`, the value of this\n  parameter should look like the following.\n  ```json\n  &#123;\n    \"name\": \"John Smith\",\n    \"email\": \"john@example.com\",\n    \"birthdate\": \"1974-05-06\"\n  &#125;\n  ```\n  `claimsLocales` parameter in the `/auth/authorization` API response lists the end-user's preferred\n  languages and scripts, ordered by preference. When `claimsLocales` parameter is a non-empty array,\n  its elements should be taken into account when the authorization server implementation gathers\nclaim values. Especially, note the excerpt below from [5.2. Claims Languages and Scripts](https://openid.net/specs/openid-connect-core-1_0.html#ClaimsLanguagesAndScripts)\n  of OpenID Connect Core 1.0.\n> When the OP determines, either through the `claims_locales` parameter, or by other means, that\n  the End-User and Client are requesting Claims in only one set of languages and scripts, it is\n  RECOMMENDED that OPs return Claims without language tags when they employ this language and script.\n  It is also RECOMMENDED that Clients be written in a manner that they can handle and utilize Claims\n  using language tags.\n  If `claims` parameter in the `/auth/authorization` API response is `null` or an empty array,\n  the value of this parameter should be `null`.\nSee [5.1. Standard Claims](https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims)\n  of OpenID Connect core 1.0 for claim names and their value formats. Note (1) that the authorization\nserver implementation support its special claims ([5.1.2. Additional Claims](https://openid.net/specs/openid-connect-core-1_0.html#AdditionalClaims))\nand (2) that claim names may be followed by a language tag ([5.2. Claims Languages and Scripts](https://openid.net/specs/openid-connect-core-1_0.html#ClaimsLanguagesAndScripts)).\nRead the specification of [OpenID Connect Core 1.0](https://openid.net/specs/openid-connect-core-1_0.html)\n  for details.\n  The claim values in this parameter will be embedded in an ID token.\n  Note that `idTokenClaims` parameter is available in the `/auth/authorization` API response.\nThe parameter has the value of the `\"id_token\"` property in the `claims` request parameter or\n  in the `\"claims\"` property in a request object. The value of this parameter should be considered\n  when you prepare claim values.\n- `properties` (optional)\n  Extra properties to associate with an access token and/or an authorization code that may be issued\n  by this request. Note that `properties` parameter is accepted only when `Content-Type` of the\n  request is `application/json`, so don't use `application/x-www-form-urlencoded` for details.\n- `scopes` (optional)\n  Scopes to associate with an access token and/or an authorization code. If this parameter is `null`,\n  the scopes specified in the original authorization request from the client application are used.\n  In other cases, including the case of an empty array, the specified scopes will replace the original\n  scopes contained in the original authorization request.\n  Even scopes that are not included in the original authorization request can be specified. However,\n  as an exception, `openid` scope is ignored on the server side if it is not included in the original\n  request. It is because the existence of `openid` scope considerably changes the validation steps\n  and because adding `openid` triggers generation of an ID token (although the client application\n  has not requested it) and the behavior is a major violation against the specification.\nIf you add `offline_access` scope although it is not included in the original request, keep in\n  mind that the specification requires explicit consent from the user for the scope ([OpenID Connect\nCore 1.0, 11. Offline Access](https://openid.net/specs/openid-connect-core-1_0.html#OfflineAccess)).\nWhen `offline_access` is included in the original request, the current implementation of Authlete's\n  `/auth/authorization` API checks whether the request has come along with `prompt` request parameter\n  and the value includes consent. However, note that the implementation of Authlete's `/auth/authorization/issue`\nAPI does not perform such checking if `offline_access` scope is added via this `scopes` parameter.\n- `sub` (optional)\n  The value of the `sub` claim in an ID token. If the value of this request parameter is not empty,\n  it is used as the value of the `sub` claim. Otherwise, the value of the `subject` request parameter\n  is used as the value of the `sub` claim. The main purpose of this parameter is to hide the actual\n  value of the subject from client applications.\n  Note that even if this `sub` parameter is not empty, the value of the subject request parameter\n  is used as the value of the subject which is associated with the access token.\n\n## INTERACTION\n\nWhen the value of `action` is `INTERACTION`, it means that the request from the client application\nhas no problem and requires the service to process the request with user interaction by an HTML form.\nThe purpose of the UI displayed to the end-user is to ask the end-user to grant authorization to\nthe client application. The items described below are some points which the service implementation\nshould take into account when it builds the UI.\n\n**[1] DISPLAY MODE**\n\nThe response from `/auth/authorization` API has `display` parameter. It is one of `PAGE` (default),\n`POPUP`, `TOUCH` and `WAP` The meanings of the values are described in [3.1.2.1. Authentication\nRequest of OpenID Connect Core 1.0](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest).\nBasically, the authorization server implementation should display the UI which is suitable for the\ndisplay mode, but it is okay for the authorization server implementation to \"attempt to detect the\ncapabilities of the User Agent and present an appropriate display\".\nIt is ensured that the value of `display` is one of the supported display modes which are specified\nby `supportedDisplays` configuration parameter of the service.\n\n**[2] UI LOCALE**\n\nThe response from `/auth/authorization` API has `uiLocales` parameter. It it is not `null`, it lists\nlanguage tag values (such as `fr-CA`, `ja-JP` and `en`) ordered by preference. The service implementation\nshould display the UI in one of the language listed in the parameter when possible. It is ensured\nthat language tags listed in `uiLocales` are contained in the list of supported UI locales which\nare specified by `supportedUiLocales` configuration parameter of the service.\n\n**[3] CLIENT INFORMATION**\n\nThe authorization server implementation should show information about the client application to\nthe end-user. The information is embedded in `client` parameter in the response from `/auth/authorization`\nAPI.\n\n**[4] SCOPES**\n\nA client application requires authorization for specific permissions. In OAuth 2.0 specification,\n\"scope\" is a technical term which represents a permission. `scopes` parameter in the response\nfrom `/auth/authorization` API is a list of scopes requested by the client application. The service\nimplementation should show the end-user the scopes.\nThe authorization server implementation may choose not to show scopes to which the end-user has\ngiven consent in the past. To put it the other way around, the authorization server implementation\nmay show only the scopes to which the end-user has not given consent yet. However, if the value\nof `prompts` response parameter contains `CONSENT`, the authorization server implementation has\nto obtain explicit consent from the end-user even if the end-user has given consent to all the\nrequested scopes in the past.\nNote that Authlete provides APIs to manage records of granted scopes (`/api/client/granted_scopes/*`\nAPIs), but the APIs work only in the case the Authlete server you use is a dedicated Authlete server\n(contact sales@authlete.com for details). In other words, the APIs of the shared Authlete server\nare disabled intentionally (in order to prevent garbage data from being accumulated) and they\nreturn 403 Forbidden.\nIt is ensured that the values in `scopes` parameter are contained in the list of supported scopes\nwhich are specified by `supportedScopes` configuration parameter of the service.\n\n**[5] DYNAMIC SCOPES**\n\nThe authorization request may include dynamic scopes. The list of recognized dynamic scopes are\naccessible by getDynamicScopes() method. See the description of the [DynamicScope](https://authlete.github.io/authlete-java-common/com/authlete/common/dto/DynamicScope.html)\nclass for details about dynamic scopes.\n\n**[6] AUTHORIZATION DETAILS**\n\nThe authorization server implementation should show the end-user \"authorization details\" if the\nrequest includes it. The value of `authorization_details` parameter in the response is the content\nof the `authorization_details` request parameter.\nSee \"OAuth 2.0 Rich Authorization Requests\" for details.\n\n**[7] PURPOSE**\n\nThe authorization server implementation must show the value of the `purpose` request parameter if\nit supports [OpenID Connect for Identity Assurance 1.0](https://openid.net/specs/openid-connect-4-identity-assurance-1_0.html).\nSee [8. Transaction-specific Purpose](https://openid.net/specs/openid-connect-4-identity-assurance-1_0.html#rfc.section.8)\nin the specification for details.\nNote that the value of `purpose` response parameter is the value of the purpose request parameter.\n\n**[7] END-USER AUTHENTICATION**\n\nNecessarily, the end-user must be authenticated (= must login the service) before granting authorization\nto the client application. Simply put, a login form is expected to be displayed for end-user authentication.\nThe service implementation must follow the steps described below to comply with OpenID Connect.\n(Or just always show a login form if it's too much of a bother.)\n\n- (i) Get the value of `prompts` response parameter. It corresponds to the value of the `prompt`\n  request parameter. Details of the request parameter are described in [3.1.2.1. Authentication\n  Request](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest) of OpenID Connect Core 1.0.\n- (ii) If the value of `prompts` parameter is `SELECT_ACCOUNT` display a form to let the end-user\n  select on of his/her accounts for login. If `subject` response parameter is not `null`, it is the\n  end-user ID that the client application expects, so the value should be used to determine the value\n  of the login ID. Note that a subject and a login ID are not necessarily equal. If the value of\n  `subject` response parameter is `null`, the value of `loginHint` response parameter should be referred\n  to as a hint to determine the value of the login ID. The value of `loginHint` response parameter\n  is simply the value of the `login_hint` request parameter.\n- (iii) If the value of `prompts` response parameter contains `LOGIN`, display a form to urge the\n  end-user to login even if the end-user has already logged in. If the value of `subject` response\n  parameter is not `null`, it is the end-user ID that the client application expects, so the value\n  should be used to determine the value of the login ID. Note that a subject and a login ID are not\n  necessarily equal. If the value of `subject` response parameter is `null`, the value of `loginHint`\n  response parameter should be referred to as a hint to determine the value of the login ID. The value\n  of `loginHint` response parameter is simply the value of the `login_hint` request parameter.\n- (iv) If the value of `prompts` response parameter does not contain `LOGIN`, the authorization server\n  implementation does not have to authenticate the end-user if all the conditions described below\n  are satisfied. If any one of the conditions is not satisfied, show a login form to authenticate\n  the end-user.\n  - An end-user has already logged in the service.\n  - The login ID of the current end-user matches the value of `subject` response parameter.\n  This check is required only when the value of `subject` response parameter is a non-null value.\n  - The max age, which is the number of seconds contained in `maxAge` response parameter,\n  has not passed since the current end-user logged in your service. This check is required only when\n  the value of `maxAge` response parameter is a non-zero value.\n  - If the authorization server implementation does not manage authentication time of end-users\n  (= if the authorization server implementation cannot know when end-users logged in) and if the\n  value of `maxAge` response parameter is a non-zero value, a login form should be displayed.\n  - The ACR (Authentication Context Class Reference) of the authentication performed for\n  the current end-user satisfies one of the ACRs listed in `acrs` response parameter. This check is\n  required only when the value of `acrs` response parameter is a non-empty array.\n  In every case, the end-user authentication must satisfy one of the ACRs listed in `acrs` response\n  parameter when the value of `acrs` response parameter is a non-empty array and `acrEssential`\n  response parameter is `true`.\n\n**[9] GRANT/DENY BUTTONS**\n\nThe end-user is supposed to choose either (1) to grant authorization to the client application or\n(2) to deny the authorization request. The UI must have UI components to accept the judgment by\nthe user. Usually, a button to grant authorization and a button to deny the request are provided.\nWhen the value of `subject` response parameter is not `null`, the end-user authentication must be\nperformed for the subject, meaning that the authorization server implementation should repeatedly\nshow a login form until the subject is successfully authenticated.\nThe end-user will choose either (1) to grant authorization to the client application or (2) to\ndeny the authorization request. When the end-user chose to deny the authorization request, call\nAuthlete's `/auth/authorization/fail` API with `reason=DENIED` and use the response from the API\nto generate a response to the client application.\nWhen the end-user chose to grant authorization to the client application, the authorization server\nimplementation has to issue an authorization code, an ID token, and/or an access token to the client\napplication. (There is a special case. When `response_type=none`, nothing is issued.) Issuing the\ntokens can be performed by calling Authlete's `/auth/authorization/issue` API. Read [ISSUE] written\nabove in the description for the case of `action=NO_INTERACTION`.\n</Accordion>\n"
      parameters:
      - in: path
        name: serviceId
        description: A service ID.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authorization_request'
            example:
              parameters: response_type=code&client_id=26478243745571&redirect_uri=https%3A%2F%2Fmy-client.example.com%2Fcb1&scope=timeline.read+history.read&code_challenge=E9Melhoa2OwvFrEMTJguCHaoeK1t8URWbuGJSstw-cM&code_challenge_method=S256
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/authorization_request'
      responses:
        '200':
          description: Authorization request processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authorization_response'
              example:
                resultCode: A004001
                resultMessage: '[A004001] Authlete has successfully issued a ticket to the service (API Key = 21653835348762) for the authorization request from the client (ID = 26478243745571). [response_type=code, openid=false]'
                acrEssential: false
                action: INTERACTION
                client:
                  clientId: 26478243745571
                  clientIdAlias: my-client
                  clientIdAliasEnabled: true
                  clientName: My updated client
                  logo_uri: https://my-client.example.com/logo.png
                  number: 6164
                clientIdAliasUsed: false
                display: PAGE
                maxAge: 0
                scopes:
                - defaultEntry: false
                  description: A permission to read your history.
                  name: history.read
                - defaultEntry: false
                  description: A permission to read your timeline.
                  name: timeline.read
                service:
                  apiKey: 21653835348762
                  clientIdAliasEnabled: true
                  number: 5041
                  serviceName: My updated service
                ticket: hXoY87t_t23enrVHWxpXNP5FfVDhDypD3T6H6lt4IPA
          links:
            authz_issue:
              $ref: '#/components/links/authz_issue'
            authz_fail:
              $ref: '#/components/links/authz_fail'
            token_exchange:
              $ref: '#/components/links/token_exchange'
            token_issue_direct:
              $ref: '#/components/links/token_issue_direct'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      operationId: auth_authorization_api
      x-code-samples:
      - lang: shell
        label: curl
        source: 'curl -v -X POST https://us.authlete.com/api/21653835348762/auth/authorization \

          -H ''Content-Type: application/json'' \

          -H ''Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'' \

          -d ''{ "parameters": "response_type=code&client_id=26478243745571&redirect_uri=https%3A%2F%2Fmy-client.example.com%2Fcb1&scope=timeline.read+history.read&code_challenge=E9Melhoa2OwvFrEMTJguCHaoeK1t8URWbuGJSstw-cM&code_challenge_method=S256" }''

          '
      - lang: java
        label: java
        source: 'AuthleteConfiguration conf = ...;

          AuthleteApi api = AuthleteApiFactory.create(conf);


          AuthorizationRequest req = new AuthorizationRequest();

          req.setParameters(...);


          api.authorization(req);

          '
      - lang: python
        source: 'conf = ...

          api = AuthleteApiImpl(conf)


          req = AuthorizationRequest()

          req.parameters = ...


          api.authorization(req)

          '
      tags:
      - Authorization Endpoint
  /api/{serviceId}/auth/authorization/fail:
    post:
      summary: Fail Authorization Request
      x-badges:
      - color: red
        label: Core API
      description: 'This API generates a content of an error authorization response that the authorization server implementation

        returns to the client application.

        '
      x-mint:
        metadata:
          description: This API generates a content of an error authorization response that the authorization server implementation returns to the client application.
        content: '<Accordion title="Full description" defaultOpen={false}>

          This API is supposed to be called from within the implementation of the authorization endpoint of the service

          in order to generate an error response to the client application.

          The description of the `/auth/authorization` API describes the timing when this API should be called.

          The response from `/auth/authorization/fail` API has some parameters.

          Among them, it is `action` parameter that the authorization server implementation should check first because

          it denotes the next action that the authorization server implementation should take.

          According to the value of `action`, the authorization server implementation must take the steps described below.


          ## INTERNAL_SERVER_ERROR


          When the value of `action` is `INTERNAL_SERVER_ERROR`, it means that the request from the authorization

          server implementation was wrong or that an error occurred in Authlete.

          In either case, from the viewpoint of the client application, it is an error on the server side.

          Therefore, the service implementation should generate a response to the client application with

          HTTP status of "500 Internal Server Error". Authlete recommends `application/json` as the content type.

          The value of `responseContent` is a JSON string which describes the error, so it can be used

          as the entity body of the response.


          ---


          The following illustrates the response which the service implementation should generate and return

          to the client application.

          ```

          HTTP/1.1 500 Internal Server Error

          Content-Type: application/json

          Cache-Control: no-store

          Pragma: no-cache

          &#123;responseContent&#125;

          ```

          The endpoint implementation may return another different response to the client application since

          "500 Internal Server Error" is not required by OAuth 2.0.


          ## BAD_REQUEST


          When the value of `action` is `BAD_REQUEST`, it means that the ticket is no longer valid (deleted

          or expired) and that the reason of the invalidity was probably due to the end-user''s too-delayed

          response to the authorization UI.

          A response with HTTP status of "400 Bad Request" should be returned to the client application and

          Authlete recommends `application/json` as the content type.

          The value of `responseContent` is a JSON string which describes the error, so it can be used

          as the entity body of the response.


          ---


          The following illustrates the response which the service implementation should generate and return

          to the client application.

          ```

          HTTP/1.1 400 Bad Request

          Content-Type: application/json

          Cache-Control: no-store

          Pragma: no-cache

          &#123;responseContent&#125;

          ```

          The endpoint implementation may return another different response to the client application since

          "400 Bad Request" is not required by OAuth 2.0.


          ## LOCATION


          When the value of `action` is `LOCATION`, it means that the response to the client application must

          be "302 Found" with Location header.

          The parameter responseContent contains a redirect URI with (1) an authorization code, an ID token

          and/or an access token (on success) or (2) an error code (on failure), so it can be used as the

          value of `Location` header.


          ---


          The following illustrates the response which the service implementation must generate and return

          to the client application.

          ```

          HTTP/1.1 302 Found

          Location: &#123;responseContent&#125;

          Cache-Control: no-store

          Pragma: no-cache

          ```


          ## FORM


          When the value of `action` is `FORM`, it means that the response to the client application must be 200 OK

          with an HTML which triggers redirection by JavaScript.

          This happens when the authorization request from the client application contained `response_mode=form_post`.

          The value of `responseContent` is an HTML which can be used as the entity body of the response.


          ---


          The following illustrates the response which the service implementation must generate and return

          to the client application.

          ```

          HTTP/1.1 200 OK

          Content-Type: text/html;charset=UTF-8

          Cache-Control: no-store

          Pragma: no-cache

          &#123;responseContent&#125;

          ```

          </Accordion>

          '
      parameters:
      - in: path
        name: serviceId
        description: A service ID.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authorization_fail_request'
            example:
              ticket: qA7wGybwArICpbUSutrf5Xc9-i1fHE0ySOHxR1eBoBQ
              reason: NOT_AUTHENTICATED
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/authorization_fail_request'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authorization_fail_response'
              example:
                resultCode: A004201
                resultMessage: '[A004201] The authorization request from the service does not contain ''parameters'' parameter.'
                action: BAD_REQUEST
                responseContent: '{\"error_description\":\"[A004201] The authorization request from the service does not contain ''parameters'' parameter.\",\"error\":\"invalid_request\",\"error_uri\":\"https://docs.authlete.com/#A004201\"}'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      operationId: auth_authorization_fail_api
      x-code-samples:
      - lang: shell
        label: curl
        source: 'curl -v -X POST https://us.authlete.com/api/21653835348762/auth/authorization/fail \

          -H ''Content-Type: application/json'' \

          -H ''Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'' \

          -d ''{ "ticket": "c4iy3TWGn74UMO7ihRl0ZS8OEUzV9axBlBbJbqxH-9Q", "reason": "NOT_AUTHENTICATED" }''

          '
      - lang: java
        label: java
        source: 'AuthleteConfiguration conf = ...;

          AuthleteApi api = AuthleteApiFactory.create(conf);


          AuthorizationFailRequest req = new AuthorizationFailRequest();

          req.setTicket("c4iy3TWGn74UMO7ihRl0ZS8OEUzV9axBlBbJbqxH-9Q");

          req.setReason(AuthorizationFailRequest.Reason.NOT_AUTHENTICATED);


          api.authorizationFail(req);

          '
      - lang: python
        source: 'conf = ...

          api = AuthleteApiImpl(conf)


          req = AuthorizationFailRequest()

          req.ticket = ''c4iy3TWGn74UMO7ihRl0ZS8OEUzV9axBlBbJbqxH-9Q''

          req.reason = AuthorizationFailReason.NOT_AUTHENTICATED


          api.authorizationFail(req)

          '
      tags:
      - Authorization Endpoint
  /api/{serviceId}/auth/authorization/issue:
    post:
      summary: Issue Authorization Response
      x-badges:
      - color: red
        label: Core API
      description: 'This API parses request parameters of an authorization request and returns necessary data for the

        authorization server implementation to process the authorization request further.

        '
      x-mint:
        metadata:
          description: This API parses request parameters of an authorization request and returns necessary data for the authorization server implementation to process the authorization request further.
        content: '<Accordion title="Full description" defaultOpen={false}>

          This API is supposed to be called from within the implementation of the authorization endpoint of

          the service in order to generate a successful response to the client application.

          The description of the `/auth/authorization` API describes the timing when this API should be called

          and the meaning of request parameters. See [ISSUE] in `NO_INTERACTION`.

          The response from `/auth/authorization/issue` API has some parameters.

          Among them, it is `action` parameter that the authorization server implementation should check first

          because it denotes the next action that the authorization server implementation should take.

          According to the value of `action`, the authorization server implementation must take the steps

          described below.


          ## INTERNAL_SERVER_ERROR


          When the value of `action` is `INTERNAL_SERVER_ERROR`, it means that the request from the authorization

          server implementation was wrong or that an error occurred in Authlete.

          In either case, from the viewpoint of the client application, it is an error on the server side.

          Therefore, the service implementation should generate a response to the client application with

          HTTP status of "500 Internal Server Error".

          The value of `responseContent` is a JSON string which describes the error, so it can be used as

          the entity body of the response.


          ---


          The following illustrates the response which the service implementation should generate and return

          to the client application.

          ```

          HTTP/1.1 500 Internal Server Error

          Content-Type: application/json

          Cache-Control: no-store

          Pragma: no-cache

          &#123;responseContent&#125;

          ```

          The endpoint implementation may return another different response to the client application since

          "500 Internal Server Error" is not required by OAuth 2.0.


          ## BAD_REQUEST


          When the value of "action" is `BAD_REQUEST`, it means that the ticket is no longer valid (deleted

          or expired) and that the reason of the invalidity was probably due to the end-user''s too-delayed

          response to the authorization UI.

          The HTTP status of the response returned to the client application should be "400 Bad Request"

          and the content type should be `application/json` although OAuth 2.0 specification does not mention

          the format of the error response.

          The value of `responseContent` is a JSON string which describes the error, so it can be used as

          the entity body of the response.


          ---


          The following illustrates the response which the service implementation should generate and return

          to the client application.

          ```

          HTTP/1.1 400 Bad Request

          Content-Type: application/json

          Cache-Control: no-store

          Pragma: no-cache

          &#123;responseContent&#125;

          ```

          The endpoint implementation may return another different response to the client application since

          "400 Bad Request" is not required by OAuth 2.0.


          ## LOCATION


          When the value of `action` is `LOCATION`, it means that the response to the client application

          should be "302 Found" with `Location` header.

          The value of `responseContent` is a redirect URI which contains (1) an authorization code, an ID

          token and/or an access token (on success) or (2) an error code (on failure), so it can be used as

          the value of `Location` header.


          ---


          The following illustrates the response which the service implementation must generate and return

          to the client application.

          ```

          HTTP/1.1 302 Found

          Location: &#123;responseContent&#125;

          Cache-Control: no-store

          Pragma: no-cache

          ```


          ## FORM


          When the value of `action` is `FORM`, it means that the response to the client application should

          be "200 OK" with an HTML which triggers redirection by JavaScript. This happens when the authorization

          request from the client contains `response_mode=form_post` request parameter.

          The value of `responseContent` is an HTML which satisfies the requirements of `response_mode=form_post`,

          so it can be used as the entity body of the response.


          ---


          The following illustrates the response which the service implementation should generate and return

          to the client application.

          ```

          HTTP/1.1 200 OK

          Content-Type: text/html;charset=UTF-8

          Cache-Control: no-store

          Pragma: no-cache

          &#123;responseContent&#125;

          ```

          </Accordion>

          '
      parameters:
      - in: path
        name: serviceId
        description: A service ID.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authorization_issue_request'
            example:
              ticket: FFgB9gwb_WXh6g1u-UQ8ZI-d_k4B-o-cm7RkVzI8Vnc
              subject: john
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/authorization_issue_request'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authorization_issue_response'
              example:
                resultCode: A040001
                resultMessage: '[A040001] The authorization request was processed successfully.'
                accessTokenDuration: 0
                accessTokenExpiresAt: 0
                action: LOCATION
                authorizationCode: Xv_su944auuBgc5mfUnxXayiiQU9Z4-T_Yae_UfExmo
                responseContent: https://my-client.example.com/cb1?code=Xv_su944auuBgc5mfUnxXayiiQU9Z4-T_Yae_UfExmo&iss=https%3A%2F%2Fmy-service.example.com
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      operationId: auth_authorization_issue_api
      x-code-samples:
      - lang: shell
        label: curl
        source: 'curl -v -X POST https://us.authlete.com/api/21653835348762/auth/authorization/issue \

          -H ''Content-Type: application/json'' \

          -H ''Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'' \

          -d ''{ "ticket": "FFgB9gwb_WXh6g1u-UQ8ZI-d_k4B-o-cm7RkVzI8Vnc", "subject": "john" }''

          '
      - lang: java
        label: java
        source: 'AuthleteConfiguration conf = ...;

          AuthleteApi api = AuthleteApiFactory.create(conf);


          AuthorizationIssueRequest req = new AuthorizationIssueRequest();

          req.setTicket("FFgB9gwb_WXh6g1u-UQ8ZI-d_k4B-o-cm7RkVzI8Vnc");

          req.setSubject("john");


          api.authorizationIssue(req);

          '
      - lang: python
        source: 'conf = ...

          api = AuthleteApiImpl(conf)


          req = AuthorizationIssueRequest()

          req.ticket = ''FFgB9gwb_WXh6g1u-UQ8ZI-d_k4B-o-cm7RkVzI8Vnc''

          req.subject = ''john''


          api.authorizationIssue(req)

          '
      tags:
      - Authorization Endpoint
  /api/{serviceId}/auth/authorization/ticket/info:
    post:
      operationId: getAuthorizationTicketInfo
      summary: Get Ticket Information
      parameters:
      - in: path
        name: serviceId
        description: A service ID.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authorization_ticket_info_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/authorization_ticket_info_request'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authorization_ticket_info_response'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      tags:
      - Authorization Endpoint
  /api/{serviceId}/auth/authorization/ticket/update:
    post:
      operationId: updateAuthorizationTicket
      summary: Update Ticket Information
      parameters:
      - in: path
        name: serviceId
        description: A service ID.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authorization_ticket_update_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/authorization_ticket_update_request'
      responses:
        '200':
          description: Authorization ticket updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authorization_ticket_update_response'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      tags:
      - Authorization Endpoint
components:
  schemas:
    authorization_response:
      type: object
      properties:
        resultCode:
          type: string
          description: The code which represents the result of the API call.
        resultMessage:
          type: string
          description: A short message which explains the result of the API call.
        action:
          type: string
          enum:
          - INTERNAL_SERVER_ERROR
          - BAD_REQUEST
          - LOCATION
          - FORM
          - NO_INTERACTION
          - INTERACTION
          description: The next action that the authorization server implementation should take.
        client:
          $ref: '#/components/schemas/client_limited_authorization'
        display:
          $ref: '#/components/schemas/display'
        maxAge:
          type: integer
          format: int32
          description: 'The maximum authentication age. This value comes from `max_age` request parameter, or `defaultMaxAge` configuration parameter

            of the client application when the authorization request does not contain `max_age` request parameter.


            See "[OpenID Connect Core 1.0, 3.1.2.1. Authentication Request](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest), max_age"

            for `max_age` request parameter, and see "[OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata), default_max_age"

            for `defaultMaxAge` configuration parameter.

            '
        service:
          $ref: '#/components/schemas/service'
        scopes:
          type: array
          items:
            $ref: '#/components/schemas/scope'
          description: "The scopes that the client application requests. This value comes from `scope` request parameter.\nIf the request does not contain `scope` parameter, this parameter is a list of scopes which are registered as default.\nIf the authorization request does not have `scope` request parameter and the service has not registered any default scope,\nthe value of this parameter is `null`.\nIt is ensured that scopes listed by this parameters are contained in the list of supported scopes which are specified\nby `supportedScopes` configuration parameter of the service. Unsupported scopes in the authorization request do not cause\nan error and are just ignored.\nOpenID Connect defines some scope names which need to be treated specially. The table below lists the special scope names.\n| Name | Description |\n| --- | --- |\n| `openid` | This scope must be contained in `scope` request parameter to promote an OAuth 2.0 authorization request to an OpenID Connect request. It is described in \"[OpenID Connect Core 1.0, 3.1.2.1. Authentication Request](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest), scope\". |\n| `profile` | This scope is used to request some claims to be embedded in the ID token. The claims are `name`, `family_name`, `given_name`, `middle_name`, `nickname`, `preferred_username`, `profile`, `picture`, `website`, `gender`, `birthdate`, `zoneinfo`, `locale`, and `updated_at`. It is described in [OpenID Connect Core 1.0, 5.4. Requesting Claims using Scope Values](https://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims). |\n| `email` | This scope is used to request some claims to be embedded in the ID token. The claims are `email` and `email_verified`. It is described in [OpenID Connect Core 1.0, 5.4. Requesting Claims using Scope Values](https://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims). |\n| `address` | This scope is used to request `address` claim to be embedded in the ID token. It is described in [OpenID Connect Core 1.0, 5.4. Requesting Claims using Scope Values](https://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims).\n The format of `address` claim is not a simple string. It is described in [OpenID Connect Core 1.0, 5.1.1. Address Claim](https://openid.net/specs/openid-connect-core-1_0.html#AddressClaim). |\n| `phone` | This scope is used to request some claims to be embedded in the ID token. The claims are `phone_number` and `phone_number_verified`. It is described in [OpenID Connect Core 1.0, 5.4. Requesting Claims using Scope Values](https://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims). |\n| `offline_access` | The following is an excerpt about this scope from [OpenID Connect Core 1.0, 11. Offline Access](https://openid.net/specs/openid-connect-core-1_0.html#OfflineAccess).\n> This scope value requests that an OAuth 2.0 Refresh Token be issued that can be used to obtain an Access Token that grants access to the end-user's userinfo endpoint even when the end-user is not present (not logged in).\n|\nNote that, if `response_type` request parameter does not contain code, `offline_acccess` scope is removed from this list even\nwhen scope request parameter contains `offline_access`. This behavior is a requirement written in\n[OpenID Connect Core 1.0, 11. Offline Access](https://openid.net/specs/openid-connect-core-1_0.html#OfflineAccess).\n"
        uiLocales:
          type: array
          items:
            type: string
          description: 'The locales that the client application presented as candidates to be used for UI.

            This value comes from `ui_locales` request parameter. The format of `ui_locales` is a space-separated list of language tag values

            defined in [RFC5646](https://datatracker.ietf.org/doc/html/rfc5646).

            See "[OpenID Connect Core 1.0, 3.1.2.1. Authentication Request](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest), ui_locales" for details.


            It is ensured that locales listed by this parameters are contained in the list of supported UI locales which are specified

            by `supportedUiLocales` configuration parameter of the service. Unsupported UI locales in the authorization request do not

            cause an error and are just ignored.

            '
        claimsLocales:
          type: array
          items:
            type: string
          description: 'End-user''s preferred languages and scripts for claims. This value comes from `claims_locales` request parameter.

            The format of `claims_locales` is a space-separated list of language tag values defined in [RFC5646](https://datatracker.ietf.org/doc/html/rfc5646).

            See "[OpenID Connect Core 1.0, 5.2. Claims Languages and Scripts](https://openid.net/specs/openid-connect-core-1_0.html#ClaimsLanguagesAndScripts)" for details.


            It is ensured that locales listed by this parameters are contained in the list of supported claim locales

            which are specified by `supportedClaimsLocales` configuration parameter of the service.

            Unsupported claim locales in the authorization request do not cause an error and are just ignored.

            '
        claims:
          type: array
          items:
            type: string
          description: 'The list of claims that the client application requests to be embedded in the ID token.

            The value comes from (1) `id_token` in `claims` request parameter [1] and/or (2) special scopes (`profile`, `email`, `address` and `phone`)

            which are expanded to claims.


            See [OpenID Connect Core 1.0, 5.5. Requesting Claims using the "claims" Request Parameter](https://openid.net/specs/openid-connect-core-1_0.html#ClaimsParameter)

            for `claims` request parameter, and see [OpenID Connect Core 1.0, 5.4. Requesting Claims using Scope Values](https://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims)

            for the special scopes.

            '
        acrEssential:
          type: boolean
          description: 'This boolean value indicates whether the authentication of the end-user must be one of the ACRs (Authentication Context Class References) listed in `acrs` parameter.

            This parameter becomes `true` only when (1) the authorization request contains `claims` request parameter and (2) `acr` claim is in it, and (3) `essential` property of

            the `acr` claim is `true`. See [OpenID Connect Core 1.0, 5.5.1.1. Requesting the "acr" Claim](https://openid.net/specs/openid-connect-core-1_0.html#acrSemantics) for details.

            '
        clientIdAliasUsed:
          type: boolean
          description: '`true` if the value of the `client_id` request parameter included in the authorization request is the client ID alias.

            `false` if the value is the original numeric client ID.

            '
        acrs:
          type: array
          items:
            type: string
          description: 'The list of ACRs (Authentication Context Class References) one of which the client application requests to be satisfied for the authentication of the end-user.

            This value comes from `acr_values` request parameter or `defaultAcrs` configuration parameter of the client application.


            See "[OpenID Connect Core 1.0, 3.1.2.1. Authentication Request](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest), acr_values" for `acr_values`

            request parameter, and see "[OpenID Connect Dynamic Client Registration 1.0, 2. Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata),

            default_acr_values" for `defaultAcrs` configuration parameter.

            '
        subject:
          type: string
          description: 'The subject (= unique user ID managed by the authorization server implementation) that the client application expects to grant authorization.

            The value comes from `sub` claim in `claims` request parameter.

            '
        loginHint:
          type: string
          description: A hint about the login identifier of the end-user. The value comes from `login_hint` request parameter.
        prompts:
          type: array
          items:
            $ref: '#/components/schemas/prompt'
          description: The list of values of prompt request parameter. See "[OpenID Connect Core 1.0, 3.1.2.1. Authentication Request](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest), prompt" for prompt request parameter.
        lowestPrompt:
          $ref: '#/components/schemas/prompt'
        requestObjectPayload:
          type: string
          description: 'The payload part of the request object. The value of this proprty is `null` if the authorization request does not include a request object.

            '
        idTokenClaims:
          type: string
          description: 'The value of the `id_token` property in the claims request parameter or in the claims property in a request object.

            '
          x-mint:
            metadata:
              description: The value of the `id_token` property in the claims request parameter or in the claims property in a request object.
            content: "<Accordion title=\"Full description\" defaultOpen={false}>\nA client application may request certain claims be embedded in an ID token or in a response from the userInfo endpoint.\nThere are several ways. Including the `claims` request parameter and including the `claims` property in a request object are such examples.\nIn both the cases, the value of the `claims` parameter/property is JSON. Its format is described in [5.5. Requesting Claims using the \"claims\"\nRequest Parameter](https://openid.net/specs/openid-connect-core-1_0.html#ClaimsParameter).\n\nThe following is an excerpt from the specification.\nYou can find `userinfo` and `id_token` are top-level properties.\n\n```json\n&#123;\n  \"userinfo\":\n  &#123;\n    \"given_name\": &#123; \"essential\": true &#125;,\n    \"nickname\": null,\n    \"email\": &#123; \"essential\": true &#125;,\n    \"email_verified\": &#123; \"essential\": true &#125;,\n    \"picture\": null,\n    \"http://example.info/claims/groups\": null\n  &#125;,\n  \"id_token\":\n  &#123;\n    \"auth_time\": &#123; \"essential\": true &#125;,\n    \"acr\": &#123; \"values\": [ \"urn:mace:incommon:iap:silver\" ] &#125;\n  &#125;\n&#125;\n```\n\nThis value of this property is the value of the `id_token` property in JSON format.\nFor example, if the JSON above is included in an authorization request, this property holds JSON equivalent to the following.\n\n```json\n&#123;\n  \"auth_time\": &#123; \"essential\": true &#125;,\n  \"acr\": &#123; \"values\": [ \"urn:mace:incommon:iap:silver\" ] &#125;\n&#125;\n```\n\nNote that if a request object is given and it contains the `claims` property and if the `claims` request parameter is also given,\nthis property holds the former value.\n</Accordion>\n"
        userInfoClaims:
          type: string
          description: 'The value of the `userinfo` property in the `claims` request parameter or in the `claims` property in a request object.

            '
          x-mint:
            metadata:
              description: The value of the `userinfo` property in the `claims` request parameter or in the `claims` property in a request object.
            content: "<Accordion title=\"Full description\" defaultOpen={false}>\nA client application may request certain claims be embedded in an ID token or in a response from the userInfo endpoint.\nThere are several ways. Including the `claims` request parameter and including the `claims` property in a request object are such examples.\nIn both the cases, the value of the `claims` parameter/property is JSON. Its format is described in [5.5. Requesting Claims using the \"claims\"\nRequest Parameter](https://openid.net/specs/openid-connect-core-1_0.html#ClaimsParameter).\n\nThe following is an excerpt from the specification. You can find `userinfo` and `id_token` are top-level properties.\n\n```json\n&#123;\n  \"userinfo\":\n  &#123;\n    \"given_name\": &#123; \"essential\": true &#125;,\n    \"nickname\": null,\n    \"email\": &#123; \"essential\": true &#125;,\n    \"email_verified\": &#123; \"essential\": true &#125;,\n    \"picture\": null,\n    \"http://example.info/claims/groups\": null\n  &#125;,\n  \"id_token\":\n  &#123;\n    \"auth_time\": &#123; \"essential\": true &#125;,\n    \"acr\": &#123; \"values\": [ \"urn:mace:incommon:iap:silver\" ] &#125;\n  &#125;\n&#125;\n````\n\nThe value of this property is the value of the `userinfo` property in JSON format.\nFor example, if the JSON above is included in an authorization request, this property holds JSON equivalent to the following.\n\n```json\n&#123;\n  \"given_name\": &#123; \"essential\": true &#125;,\n  \"nickname\": null,\n  \"email\": &#123; \"essential\": true &#125;,\n  \"email_verified\": &#123; \"essential\": true &#125;,\n  \"picture\": null,\n  \"http://example.info/claims/groups\": null\n&#125;\n```\n\nNote that if a request object is given and it contains the `claims` property and if the `claims` request parameter is also given,\nthe value of this property holds the former value.\n</Accordion>\n"
        resources:
          type: array
          items:
            type: string
          description: 'The resources specified by the `resource` request parameters or by the `resource` property in the request object.

            If both are given, the values in the request object should be set. See "Resource Indicators for OAuth 2.0" for details.

            '
        authorizationDetails:
          $ref: '#/components/schemas/authz_details'
        purpose:
          type: string
          description: 'The `purpose` request parameter is defined in [9. Transaction-specific Purpose](https://openid.net/specs/openid-connect-4-identity-assurance-1_0.html#name-transaction-specific-purpos)

            of [OpenID Connect for Identity Assurance 1.0](https://openid.net/specs/openid-connect-4-identity-assurance-1_0.html) as follows:


            > purpose: OPTIONAL. String describing the purpose for obtaining certain user data from the OP. The purpose MUST NOT be shorter than 3 characters and MUST NOT be longer than 300 characters.

            If these rules are violated, the authentication request MUST fail and the OP returns an error invalid_request to the RP.

            '
        responseContent:
          type: string
          description: 'The content that the authorization server implementation is to return to the client application.

            Its format varies depending on the value of `action` parameter.

            '
        ticket:
          type: string
          description: 'A ticket issued by Authlete to the service implementation. This is needed when the service

            implementation calls either `/auth/authorization/fail` API or `/auth/authorization/issue`

            API.

            '
        dynamicScopes:
          type: array
          items:
            $ref: '#/components/schemas/dynamic_scope'
          description: 'The dynamic scopes which the client application requested by the scope request parameter.

            '
        gmAction:
          $ref: '#/components/schemas/grant_management_action'
        grantId:
          type: string
          description: 'the value of the `grant_id` request parameter of the device authorization request.


            The `grant_id` request parameter is defined in

            [Grant Management for OAuth 2.0](https://openid.net/specs/fapi-grant-management.html)

            , which is supported by Authlete 2.3 and newer versions.

            '
        grant:
          $ref: '#/components/schemas/grant'
        grantSubject:
          type: string
          description: 'The subject identifying the user who has given the grant identified

            by the `grant_id` request parameter of the device authorization

            request.

            Authlete 2.3 and newer versions support [Grant Management

            for OAuth 2.0](https://openid.net/specs/fapi-grant-management.html). An authorization request may contain a `grant_id`

            request parameter which is defined in the specification. If the value of

            the request parameter is valid, &#123;@link #getGrantSubject()&#125; will return

            the subject of the user who has given the grant to the client application.

            Authorization server implementations may use the value returned from

            &#123;@link #getGrantSubject()&#125; in order to determine the user to authenticate.

            The user your system will authenticate during the authorization process

            (or has already authenticated) may be different from the user of the

            grant. The first implementer''s draft of "Grant Management for OAuth 2.0"

            does not mention anything about the case, so the behavior in the case is

            left to implementations. Authlete will not perform the grant management

            action when the `subject` passed to Authlete does not match the

            user of the grant.

            '
        requestedClaimsForTx:
          type: array
          items:
            type: string
          description: 'Names of claims that are requested indirectly by *"transformed

            claims"*.

            A client application can request *"transformed claims"* by adding

            names of transformed claims in the `claims` request parameter.

            The following is an example of the `claims` request parameter

            that requests a predefined transformed claim named `18_or_over`

            and a transformed claim named `nationality_usa` to be embedded

            in the response from the userinfo endpoint.

            ```json

            &#123;

            "transformed_claims": &#123;

            "nationality_usa": &#123;

            "claim": "nationalities",

            "fn": [

            [ "eq", "USA" ],

            "any"

            ]

            &#125;

            &#125;,

            "userinfo": &#123;

            "::18_or_over": null,

            ":nationality_usa": null

            &#125;

            &#125;

            ```

            The example above assumes that a transformed claim named `18_or_over`

            is predefined by the authorization server like below.

            ```json

            &#123;

            "18_or_over": &#123;

            "claim": "birthdate",

            "fn": [

            "years_ago",

            [ "gte", 18 ]

            ]

            &#125;

            &#125;

            ```

            In the example, the `nationalities` claim is requested indirectly

            by the `nationality_usa` transformed claim. Likewise, the

            `birthdate` claim is requested indirectly by the `18_or_over`

            transformed claim.

            When the `claims` request parameter of an authorization request is

            like the example above, this `requestedClaimsForTx` property will

            hold the following value.

            ```json

            [ "birthdate", "nationalities" ]

            ```

            It is expected that the authorization server implementation prepares values

            of the listed claims and passes them as the value of the `claimsForTx`

            request parameter when it calls the `/api/auth/userinfo/issue` API. The following

            is an example of the value of the `claimsForTx` request parameter.

            ```json

            &#123;

            "birthdate": "1970-01-23",

            "nationalities": [ "DEU", "USA" ]

            &#125;

            ```

            '
        requestedVerifiedClaimsForTx:
          type: array
          items:
            type: array
            items:
              type: string
          description: 'Names of verified claims that will be referenced when transformed claims are computed.

            '
        transformedClaims:
          type: string
          description: 'the value of the `transformed_claims` property in the `claims` request

            parameter of an authorization request or in the `claims` property in a

            request object.

            '
        clientEntityIdUsed:
          type: boolean
          description: 'Flag which indicates whether the entity ID of the client was used when the request for the access token was made.

            '
        claimsAtUserInfo:
          type: array
          items:
            type: string
          description: 'The list of claims that the client application requests to be

            embedded in userinfo responses. The value comes from the `"scope"`

            and `"claims"` request parameters of the original authorization

            request.

            '
        credentialOfferInfo:
          $ref: '#/components/schemas/credential_offer_info'
        issuableCredentials:
          type: string
          description: 'The information about the **issuable credentials** that can

            be obtained by presenting the access token that will be issued as a

            result of the authorization request.

            '
        nativeSsoRequested:
          type: boolean
          description: 'Flag which indicates whether [Native SSO](https://openid.net/specs/openid-connect-native-sso-1_0.html)

            is requested. This property should be set to `true` when all the following conditions are satisfied:

            '
          x-mint:
            metadata:
              description: 'Flag which indicates whether [Native SSO](https://openid.net/specs/openid-connect-native-sso-1_0.html) is requested. This property should be set to `true` when all the following conditions are satisfied:'
            content: '<Accordion title="Full description" defaultOpen={false}>

              - The service supports Native SSO (see `nativeSsoSupported` property of Service).

              - The service supports the `openid` and `device_sso` scopes.

              - The client is allowed to request the `openid` and `device_sso` scopes.

              - The authorization request includes the `openid` and `device_sso` scopes.

              - The authorization request''s `response_type` includes `code`.


              NOTE: If this property is set to `true`, the `sessionId` request parameter must be provided

              to the `/auth/authorization/issue` API.

              </Accordion>

              '
        metadataDocumentUsed:
          type: boolean
          description: 'Flag indicating whether a metadata document was used to resolve client metadata for this request.


            When `true`, the client metadata was retrieved via the CIMD mechanism rather than from the Authlete database.

            '
    authorization_issue_request:
      type: object
      required:
      - ticket
      - subject
      properties:
        ticket:
          type: string
          description: 'The ticket issued from Authlete `/auth/authorization` API.

            '
        subject:
          type: string
          description: 'The subject (= a user account managed by the service) who has granted authorization to the client application.

            '
        authTime:
          type: integer
          format: int64
          description: 'The time when the authentication of the end-user occurred. Its value is the number of seconds from `1970-01-01`.

            '
        acr:
          type: string
          description: The Authentication Context Class Reference performed for the end-user authentication.
        claims:
          type: string
          description: 'The claims of the end-user (= pieces of information about the end-user) in JSON format.

            See [OpenID Connect Core 1.0, 5.1. Standard Claims](https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims) for details about the format.

            '
        properties:
          type: array
          items:
            $ref: '#/components/schemas/property'
          description: Extra properties to associate with an access token and/or an authorization code.
        scopes:
          type: array
          items:
            type: string
          description: 'Scopes to associate with an access token and/or an authorization code.

            If a non-empty string array is given, it replaces the scopes specified by the original authorization request.

            '
        sub:
          type: string
          description: 'The value of the `sub` claim to embed in an ID token. If this request parameter is `null` or empty,

            the value of the `subject` request parameter is used as the value of the `sub` claim.

            '
        idtHeaderParams:
          type: string
          description: 'JSON that represents additional JWS header parameters for ID tokens that may be issued based on

            the authorization request.

            '
        claimsForTx:
          type: string
          description: 'Claim key-value pairs that are used to compute transformed claims.

            '
        consentedClaims:
          type: array
          items:
            type: string
          description: 'the claims that the user has consented for the client application

            to know.

            '
        authorizationDetails:
          $ref: '#/components/schemas/authz_details'
        jwtAtClaims:
          type: string
          description: 'Additional claims that are added to the payload part of the JWT access token.

            '
        accessToken:
          type: string
          description: 'The representation of an access token that may be issued as a result of the Authlete API call.

            '
        accessTokenDuration:
          type: integer
          format: int64
          description: 'The duration (in seconds) of the access token that may be issued as a result of the Authlete

            API call.


            When this request parameter holds a positive integer, it is used as the duration of the access

            token in. In other cases, this request parameter is ignored.

            '
        sessionId:
          type: string
          description: 'The session ID of the user''s authentication session. The specified value will be embedded in the

            ID token as the value of the `sid` claim. This parameter needs to be provided only if you want

            to support the [OpenID Connect Native SSO for Mobile Apps 1.0](https://openid.net/specs/openid-connect-native-sso-1_0.html)

            specification (a.k.a. "Native SSO"). To enable support for the Native SSO specification, the

            `nativeSsoSupported` property of your service must be set to `true`.

            '
          x-mint:
            metadata:
              description: The session ID of the user's authentication session. The specified value will be embedded in the ID token as the value of the `sid` claim. This parameter needs to be provided only if you want to support the [OpenID Connect Native SSO for Mobile Apps 1.0](https://openid.net/specs/openid-connect-native-sso-1_0.html) specification (a.k.a. "Native SSO"). To enable support for the Native SSO specification, the `nativeSsoSupported` property of your service must be set to `true`.
            content: '<Accordion title="Full description" defaultOpen={false}>

              NOTE: When the response from the `/auth/authorization` API contains the `nativeSsoRequested`

              property with a value of `true`, the `sessionId` request parameter must be provided to the

              `/auth/authorization/issue` API.

              </Accordion>

              '
        idTokenAudType:
          type: string
          description: 'The type of the `aud` claim of the ID token being issued. Valid values are as follows.


            | Value | Description |

            | ----- | ----------- |

            | "array" | The type of the aud claim is always an array of strings. |

            | "string" | The type of the aud claim is always a single string. |

            | null | The type of the aud claim remains the same as before. |


            This request parameter takes precedence over the `idTokenAudType` property of the service.

            '
        verifiedClaimsForTx:
          type: array
          items:
            type: string
          description: 'Values of verified claims requested indirectly by "transformed claims".

            '
          x-mint:
            metadata:
              description: Values of verified claims requested indirectly by "transformed claims".
            content: "<Accordion title=\"Full description\" defaultOpen={false}>\nA client application may request \"transformed claims\". Each of transformed claims uses an existing\nclaim as input. As a result, to compute the value of a transformed claim, the value of the referenced\nexisting claim is needed. This `verifiedClaimsForTx` request parameter has to be used to provide\nvalues of existing claims for computation of transformed claims.\n\nA response from the `/auth/authorization` API may include the `requestedVerifiedClaimsForTx` response\nparameter which is a list of verified claims that are referenced indirectly by transformed claims\n(cf. `requestedVerifiedClaimsForTx` in `/auth/authorization` API response). The authorization\nserver implementation should prepare values of the verified claims listed in `requestedVerifiedClaimsForTx`\nand pass them as the value of this `verifiedClaimsForTx` request parameter.\n\nThe following is an example of the value of this request parameter.\n\n```\n[\n  \"&#123;\\\"birthdate\\\":\\\"1970-01-23\\\",\\\"nationalities\\\":[\\\"DEU\\\",\\\"USA\\\"]&#125;\"\n]\n```\n\nThe reason that this `verifiedClaimsForTx` property is an array is that the `\"verified_claims\"`\nproperty in the claims request parameter of an authorization request can be an array like below.\n\n```\n&#123;\n  \"transformed_claims\": &#123;\n    \"nationality_usa\": &#123;\n      \"claim\": \"nationalities\",\n      \"fn\": [\n        [ \"eq\", \"USA\" ],\n        \"any\"\n      ]\n    &#125;\n  &#125;,\n  \"id_token\": &#123;\n    \"verified_claims\": [\n      &#123;\n        \"verification\": &#123; \"trust_framework\": &#123; \"value\": \"gold\" &#125; &#125;,\n        \"claims\": &#123; \"::18_or_above\": null &#125;\n      &#125;,\n      &#123;\n        \"verification\": &#123; \"trust_framework\": &#123; \"value\": \"silver\" &#125; &#125;,\n        \"claims\": &#123; \":nationality_usa\": null &#125;\n      &#125;\n    ]\n  &#125;\n&#125;\n```\n\nFor the example above, the value of this `verifiedClaimsForTx` property should be an array of\nsize 2 and look like below. The first element is JSON including claims which have been verified\nunder the trust framework `\"gold\"`, and the second element is JSON including claims which have\nbeen verified under the trust framework `\"silver\"`.\n\n```\n[\n  \"&#123;\\\"birthdate\\\":\\\"1970-01-23\\\"&#125;\",\n  \"&#123;\\\"nationalities\\\":[\\\"DEU\\\",\\\"USA\\\"]&#125;\"\n]\n```\n</Accordion>\n"
    authorization_fail_request:
      type: object
      required:
      - ticket
      - reason
      properties:
        ticket:
          type: string
          description: 'The ticket issued from Authlete `/auth/authorization` API.

            '
        reason:
          type: string
          enum:
          - UNKNOWN
          - NOT_LOGGED_IN
          - MAX_AGE_NOT_SUPPORTED
          - EXCEEDS_MAX_AGE
          - DIFFERENT_SUBJECT
          - ACR_NOT_SATISFIED
          - DENIED
          - SERVER_ERROR
          - NOT_AUTHENTICATED
          - ACCOUNT_SELECTION_REQUIRED
          - CONSENT_REQUIRED
          - INTERACTION_REQUIRED
          - INVALID_TARGET
          description: 'The reason of the failure of the authorization request.

            For more details, see [NO_INTERACTION] in the description of `/auth/authorization` API.

            '
        description:
          type: string
          description: 'The custom description about the authorization failure.

            '
    grant_type:
      type: string
      description: 'The grant type of the access token when the access token was created.

        '
      enum:
      - AUTHORIZATION_CODE
      - IMPLICIT
      - PASSWORD
      - CLIENT_CREDENTIALS
      - REFRESH_TOKEN
      - CIBA
      - DEVICE_CODE
      - TOKEN_EXCHANGE
      - JWT_BEARER
      - PRE_AUTHORIZED_CODE
    client_registration_type:
      type: string
      description: "Values for the `client_registration_types` RP metadata and the\n `client_registration_types_supported` OP metadata that are defined in\n [OpenID Connect Federation 1.0](https://openid.net/specs/openid-connect-federation-1_0.html).\n"
      enum:
      - AUTOMATIC
      - EXPLICIT
    authorization_request:
      type: object
      required:
      - parameters
      properties:
        parameters:
          type: string
          description: 'OAuth 2.0 authorization request parameters which are the request parameters that the OAuth 2.0 authorization endpoint of

            the authorization server implementation received from the client application.


            The value of parameters is either (1) the entire query string when the HTTP method of the request from the client application is `GET`

            or (2) the entire entity body (which is formatted in `application/x-www-form-urlencoded`) when the HTTP method of the request from

            the client application is `POST`.

            '
        context:
          type: string
          description: 'The arbitrary text to be attached to the ticket that will be issued from the `/auth/authorization`

            API.


            The text can be retrieved later by the `/auth/authorization/ticket/info` API and can be updated

            by the `/auth/authorization/ticket/update` API.


            The text will be compressed and encrypted when it is saved in the Authlete database.

            '
        cimdOptions:
          $ref: '#/components/schemas/cimd_options'
          description: 'Options for [OAuth Client ID Metadata Document](https://datatracker.ietf.org/doc/draft-ietf-oauth-client-id-metadata-document/) (CIMD).


            These options allow per-request control over CIMD behavior, taking precedence over service-level configuration when provided.

            '
    credential_issuer_metadata:
      type: object
      properties:
        authorizationServers:
          type: array
          items:
            type: string
          description: 'The identifiers of the authorization servers that the credential issuer relies on for authorization.

            This property corresponds to the authorization_servers metadata. When the credential issuer works

            as an authorization server for itself, this property should be omitted.

            '
        credentialIssuer:
          type: string
          description: The identifier of a credential request.
        credentialEndpoint:
          type: string
          format: uri
          description: The URL of the credential endpoint of the credential issuer.
        batchCredentialEndpoint:
          type: string
          format: uri
          description: The URL of the batch credential endpoint of the credential issuer.
        deferredCredentialEndpoint:
          type: string
          description: The URL of the deferred credential endpoint of the credential issuer.
        credentialsSupported:
          type: string
          description: 'A JSON object describing supported credential configurations.

            This property corresponds to the credential_configurations_supported metadata.

            Note: Due to a breaking change in December 2023, this was changed from a JSON array to a JSON object.

            '
        credentialResponseEncryptionAlgValuesSupported:
          type: array
          items:
            type: string
          description: 'The supported JWE `alg` algorithms for credential response encryption. This property corresponds

            to the `credential_response_encryption.alg_values_supported` metadata.

            '
        credentialResponseEncryptionEncValuesSupported:
          type: array
          items:
            type: string
          description: 'The supported JWE `enc` algorithms for credential response encryption. This property corresponds

            to the `credential_response_encryption.enc_values_supported` metadata.

            '
        requireCredentialResponseEncryption:
          type: boolean
          description: 'The boolean flag indicating whether credential response encryption is required. This property

            corresponds to the `credential_response_encryption.encryption_required metadata`. If this flag

            is `true`, every credential request to the credential issuer must include the `credential_response_encryption`

            property.

            '
    authorization_ticket_update_response:
      type: object
      properties:
        info:
          $ref: '#/components/schemas/authorization_ticket_info'
          description: Information about the ticket.
        action:
          type: string
          enum:
          - OK
          - NOT_FOUND
          - CALLER_ERROR
          - AUTHLETE_ERROR
          description: The result of the /auth/authorization/ticket/info API call.
        resultCode:
          type: string
          description: The code which represents the result of the API call.
        resultMessage:
          type: string
          description: A short message which explains the result of the API call.
    response_type:
      type: string
      enum:
      - NONE
      - CODE
      - TOKEN
      - ID_TOKEN
      - CODE_TOKEN
      - CODE_ID_TOKEN
      - ID_TOKEN_TOKEN
      - CODE_ID_TOKEN_TOKEN
    tagged_value:
      type: object
      properties:
        tag:
          type: string
          description: The language tag part.
        value:
          type: string
          description: The value part.
    hsk:
      type: object
      description: 'Holds information about a key managed in an HSM (Hardware Security Module)

        '
      properties:
        kty:
          type: string
          description: 'The key type (EC or RSA)

            '
        use:
          type: string
          description: 'Get the use of the key on the HSM.

            When the key use is "sig" (signature), the private key on the HSM is used to sign data and the corresponding public key is used to verify the signature.

            When the key use is "enc" (encryption), the private key on the HSM is used to decrypt encrypted data which have been encrypted with the corresponding public key

            '
        kid:
          type: string
          description: 'Key ID for the key on the HSM.

            '
        hsmName:
          type: string
          description: 'The name of the HSM.

            The identifier for the HSM that sits behind the Authlete server. For example, "google".

            '
        handle:
          type: string
          description: 'The handle for the key on the HSM.

            A handle is a base64url-encoded 256-bit random value (43 letters) which is assigned by Authlete on the call of the /api/hsk/create API

            '
        publicKey:
          type: string
          description: 'The public key that corresponds to the key on the HSM.

            '
        alg:
          type: string
          description: 'The algorithm of the key on the HSM. When the key use is `"sig"`, the algorithm represents a

            signing algorithm such as `"ES256"`. When the key use is `"enc"`, the algorithm represents an

            encryption algorithm such as `"RSA-OAEP-256"`.

            '
    authorization_fail_response:
      type: object
      properties:
        resultCode:
          type: string
          description: The code which represents the result of the API call.
        resultMessage:
          type: string
          description: A short message which explains the result of the API call.
        action:
          type: string
          enum:
          - INTERNAL_SERVER_ERROR
          - BAD_REQUEST
          - LOCATION
          - FORM
          description: The next action that the authorization server implementation should take.
        responseContent:
          type: string
          description: 'The content that the authorization server implementation is to return to the client application.

            Its format varies depending on the value of `action` parameter.

            '
    authorization_ticket_info_request:
      type: object
      required:
      - ticket
      properties:
        ticket:
          type: string
          description: The ticket that has been issued from the `/auth/authorization` API.
    display:
      type: string
      description: 'The display mode which the client application requests by `display` request parameter.

[...]
